<!-- Outside is wrapped within <div class="card half"> -->
<div class="content">
	<div class="a status {{ia.dev_milestone}}">{{ia.dev_milestone}}</div>
	<p class="title"><strong><a href="https://duck.co/ia/view/{{ia.id}}">{{ia.name}}</a></strong></p>
  <div class="subtitle">{{ia.issue_number}} Issues</div>
  <div class="description">{{ia.description}}</div>
  <div class="pull-right avatars grid-2" ng-bind-html="fn.getDevsAvatars(ia, users)"></div>
  <!--
	Developers: <span ng-bind-html="fn.getDevs(ia)"></span> <br />
	Maintainer: {{ia.maintainer.github}} <br />
	Topics: <span ng-bind-html="fn.getTopics(ia)"></span> <br />
	Query: {{ia.example_query}}
  -->
</div>
