<!-- developer -->
<div class="grid-1 avatars" ng-bind-html="fn.getAvatar(users, issue.user.login)"></div>	
<span class="grid-6 content">
	<strong><a href="{{issue.html_url}}">{{issue.title}}</a></strong>
	<br /><span class="subtitle comment"><span style="border-right: 1px solid #eee; padding-right: 10px; margin-right: 10px;">IA Name</span>{{issue.comments}} <span class="octicon octicon-comment"></span></span>

</span>

<span class="grid-1 subtitle text-right pad-left-10">
	<span class="subtitle">{{fn.getFromNowShortDays(issue.updated_at)}}</span>
</span>

