<!-- Outside is wrapped within <div class="ia..."> -->

<div class="grid-6">
	<strong><a href="https://duck.co/ia/view/{{ia.id}}">{{ia.name}}</a></strong>
	<span class="count" ng-if="ia.open_prs > 0">{{ia.open_prs}} <span class="octicon octicon-git-pull-request"></span></span>
	<span class="count" ng-if="ia.open_issues > 0">{{ia.open_issues}} <span class="octicon octicon-issue-opened"></span></span>
</div>

<!-- developers & status (not live) -->
<div class="grid-3">
	<div class="avatars pull-right" ng-bind-html="fn.getDevsAvatars(ia, users)"></div>
	<div class="status {{ia.dev_milestone}} round" ng-if="ia.dev_milestone != 'live'">{{ia.dev_milestone}}</div>		
</div>
