
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>UserPage / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">
    
</head>
<body ng-controller="UserPageController">

<!-- Load all other resources here: -->
<link rel="stylesheet" href="UserPage.css" charset="utf-8">

<!-- Javascript -->
<script src="../../assets/js/underscore-min.js"></script>
<script src="../../assets/js/angular.js"></script>
<script src="../../assets/js/angular-sanitize.js"></script>
<script src="../../assets/js/app.js"></script>

<!-- User Info -->
<script src="users/guiltydolphin.js"></script>
<script src="users/riqpe.js"></script>
<script src="users/anthonyneace.js"></script>
<script src="users/pjhampton.js"></script>
<script src="users/mintsoft.js"></script>
<script src="users/jagtalon.js"></script>
<script src="users/moollaza.js"></script>
<script src="users/all_ias.js"></script>
<script src="UserPage.js"></script>

<!-- Toggle between users -->
<div class="toolbar">
	<select name="username" id="username" ng-model="username" ng-change="showUser()">
	  <option ng-repeat="user in users | filter: {hasInfo:true}" value="{{user.username}}">{{user.username}}</option>
	</select>	
</div>
<!-- Header -->
<header>
	<div class="container">
	<div class="stats">
		<div class="third">
			<span>All Instant Answers</span>
			<h2>{{count.all_ias}}</h2>
		</div>
		<div class="third">
			<span>Open Pull Requests</span>
			<h2>{{count.open_prs}}</h2>
		</div>
		<div class="third">
			<span>Closed Pull Requests</span>
			<h2>{{count.closed_prs}}</h2>
		</div>
	</div>		
</div></header>

<div class="container">
	
	<!-- Sidebar -->
	<aside>
		<div class="profile card">
	<img src="{{user.avatar_url || user.gh_data.avatar_url}}" />
	<div class="content">
		<h3>{{user.name}}</h3>
		<div class="gray">
			<a href="http://github.com/{{user.login}}">@{{user.login}}</a>
			<br />{{user.location}}		
		</div>
		
	</div>
</div>
		<div class="topic typeA" ng-repeat="t in topics | orderBy:'-amount'">
	<span class="amt">{{t.amount}}</span>
	{{t.topic}}
	<div class="bar" style="width:{{t.amount / count.max_topics * 100}}%"></div>
</div>	</aside>

	<!-- Main -->
	<main>
		<h3>Maintained IAs</h3>

		<section>
			<div class="card half heightA" ng-repeat="ia in ias_maintained" ng-include="'partials/a_instantanswer.html'">
			</div>
		</section>
		

		<h3>Developed IAs</h3>
		<section>
			<!-- This skips IAs in which there is a maintainer; implementation is HACKISH, b/c it assumes maintainer is user (which isn't nec true)! -->
			<div class="card half heightA" ng-repeat="ia in ias_developed" ng-if="!ia.maintainer" ng-include="'partials/a_instantanswer.html'"></div>
				
		</section>

		

		<!-- PRs will have the pull_request attribute -->
		<div style="float:right;">
			<a href="" ng-click="show_issues = ''">All</a>
			<a href="" ng-click="show_issues = 'open'">Open</a>
			<a href="" ng-click="show_issues = 'closed'">Closed</a>
		</div>
		<h3>Issues</h3>
		<p ng-repeat="issue in user.issues | filter:{state:show_issues}" ng-include="'partials/a_issue.html'">
		</p>
	</main>


</div> <!-- /.container -->

</body>
</html>