
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>UserPage / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">
    
</head>
<body ng-controller="UserPageController">

<!-- Load all other resources here: -->
<link rel="stylesheet" href="../../assets/css/octicons.css" charset="utf-8">
<link rel="stylesheet" href="UserPage.css" charset="utf-8">

<!-- Javascript -->
<script src="../../assets/js/moment.min.js"></script>
<script src="../../assets/js/underscore-min.js"></script>
<script src="../../assets/js/angular.js"></script>
<script src="../../assets/js/angular-sanitize.js"></script>
<script src="../../assets/js/app.js"></script>

<!-- User Info -->
<script src="users/guiltydolphin.js"></script>
<script src="users/riqpe.js"></script>
<script src="users/anthonyneace.js"></script>
<script src="users/pjhampton.js"></script>
<script src="users/mintsoft.js"></script>
<script src="users/jagtalon.js"></script>
<script src="users/moollaza.js"></script>
<script src="users/mattr555.js"></script>
<script src="users/MrChrisW.js"></script>
<script src="users/all_ias.js"></script>
<script src="UserPage.js"></script>

<!-- Toggle between users -->
<div class="toolbar">
	<select name="username" id="username" ng-model="username" ng-change="showUser()">
	  <option ng-repeat="user in users | filter: {hasInfo:true}" value="{{user.username}}">{{user.username}}</option>
	</select>	
</div>
<!-- Header -->
<header>
	<div class="container">
	<div class="stats">
		<div class="third">
			<span>All Instant Answers</span>
			<h2>{{count.maintained_ias + count.developed_only_ias}}</h2>
		</div>
		<div class="third">
			<span>All Open Pull Requests</span>
			<h2>{{count.reviewed_prs + count.developed_prs}}</h2>
		</div>
		<div class="third">
			<span>Closed Pull Requests</span>
			<h2>{{count.closed_prs}}</h2>
		</div>
	</div>		
</div></header>

<div class="container">
	
	<!-- Sidebar -->
	<aside>
		<div class="profile card">
	<img src="{{user.avatar_url || user.gh_data.avatar_url}}" />
	<div class="content">
		<h3>{{user.name}}</h3>
		<div class="gray">
			<a href="http://github.com/{{user.login}}">@{{user.login}}</a>
			<br />{{user.location}}		
		</div>
		
	</div>
</div>
		<div class="set">
	<strong>Filter Instant Answers</strong>
	<div ng-class="{'active': othertype=='prs'}" ng-click="setOtherType('prs')" class="topic typeC cursor">
		<span class="amt">{{count.prs_ias}}</span>
		<span class="close"><span class="octicon octicon-x"></span></span>
		<span>PRs &amp; Issues</span>
	</div>
	<div ng-class="{'active': othertype=='maintained'}" ng-click="setOtherType('maintained')" class="topic typeC cursor">
		<span class="amt">{{count.maintained_ias}}</span>
		<span class="close"><span class="octicon octicon-x"></span></span>
		<span>Maintained</span>
	</div>
	<div ng-class="{'active': othertype=='developed'}" ng-click="setOtherType('developed')" class="topic typeC cursor">
		<span class="amt">{{count.developed_ias}}</span>
		<span class="close"><span class="octicon octicon-x"></span></span>
		<span>Developed</span>
	</div>
	<div ng-class="{'active': othertype=='progress'}" ng-click="setOtherType('progress')" class="topic typeC cursor">
		<span class="amt">{{count.progress_ias}}</span>
		<span class="close"><span class="octicon octicon-x"></span></span>
		<span>In-Progress</span>
	</div>
</div>

<div class="set">
	<strong>Filter by Topics</strong>
	<div ng-class="{'active': filtertopic==t.topic}" class="topic typeC cursor" ng-repeat="t in topics | orderBy:'-amount'" ng-click="setFilterTopic(t.topic)">
		<span class="amt">{{t.amount}}</span>
		<span class="close"><span class="octicon octicon-x"></span></span>
		<span>{{t.topic}}</span>
		<div class="bar" style="width: {{t.amount/count.max_topics*100}}%"></div>
	</div>
</div>	</aside>

	<!-- Main -->
	<main>
		<section>
			<h3>Instant Answers</h3>

<!-- 			filtertopic: {{filtertopic}}
			<br />othertype: {{othertype}} -->

			<div class="instantanswer typeC flex-container" ng-repeat="ia in ias | filterIA:filtertopic:othertype:username | orderBy: iaSort" ng-include="'partials/e_instantanswer.html'">
			</div>

			
		</section>

		<section>
			<div class="flex-container">
				<!-- PR Reviews -->
				<h3 ng-if="count.reviewed_prs" ng-class="{'margin-right': count.developed_prs}" class="grid-1">Reviewing Pull Requests</h3>
				<!-- Open PRs -->
				<h3 ng-if="count.developed_prs" ng-class="{'margin-left': count.reviewed_prs}" class="grid-1">Assigned Pull Requests</h3>
			</div>
			
			<div class="flex-container align-top">
				<!-- PR Reviews -->
				<div ng-if="count.reviewed_prs" ng-class="{'margin-right': count.developed_prs}" class="grid-1">
					<div ng-repeat="issue in prs_open_reviewed | orderBy: '-updated_at'" ng-include="'partials/e_issue.html'" class="issue typeC flex-container">
					</div>				
				</div>

				<!-- Open PRs -->
				<div ng-if="count.developed_prs" ng-class="{'margin-left': count.reviewed_prs}" class="grid-1">
					<div ng-repeat="issue in prs_open_developed | orderBy: '-updated_at'" ng-include="'partials/e_issue.html'" class="issue typeC hideAvatar flex-container">
					</div>
				</div>
			</div>
			

		</section>

	</main>


</div> <!-- /.container -->

</body>
</html>