
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>UserPage / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">
    
</head>
<body ng-controller="UserPageController">

<!-- Load all other resources here: -->
<link rel="stylesheet" href="UserPage.css" charset="utf-8">

<!-- Javascript -->
<script src="../../assets/js/angular.js"></script>
<script src="../../assets/js/angular-sanitize.js"></script>
<script src="../../assets/js/app.js"></script>

<!-- User Info -->
<script src="users/riqpe.js"></script>
<script src="UserPage.js"></script>

<style type="text/css">
	body {
		padding: 20px;
	}
</style>

<!-- Main -->
<img src="{{user.gh_data.avatar_url}}" />
<br /><strong>{{user.name}}</strong>
<br />{{user.login}}
<br />{{user.location}}

<h2>Instant Answers</h2>
<div ng-repeat="ia in user.instant_answers">
	<strong>{{ia.name}}</strong> | {{ia.dev_milestone}}
	<p>{{ia.description}}</p>
</div>

<h2>Issues</h2>
<div ng-repeat="issue in user.issues">
	<strong><a href="{{issue.gh_data.pull_request.html_url}}">{{issue.title}}</a></strong> | {{issue.comments}} comments | {{issue.state}}
	<p>{{issue.body}}</p>
</div>

</body>
</html>