
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>UserPage / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">
    
</head>
<body ng-controller="UserPageController">

<!-- Load all other resources here: -->
<link rel="stylesheet" href="../../assets/css/font-awesome.min.css" charset="utf-8">
<link rel="stylesheet" href="UserPage.css" charset="utf-8">

<!-- Javascript -->
<script src="../../assets/js/underscore-min.js"></script>
<script src="../../assets/js/angular.js"></script>
<script src="../../assets/js/angular-sanitize.js"></script>
<script src="../../assets/js/app.js"></script>

<!-- User Info -->
<script src="users/guiltydolphin.js"></script>
<script src="users/riqpe.js"></script>
<script src="users/anthonyneace.js"></script>
<script src="users/pjhampton.js"></script>
<script src="users/mintsoft.js"></script>
<script src="users/jagtalon.js"></script>
<script src="users/moollaza.js"></script>
<script src="users/all_ias.js"></script>
<script src="UserPage.js"></script>

<!-- Toggle between users -->
<div class="toolbar">
	<select name="username" id="username" ng-model="username" ng-change="showUser()">
	  <option ng-repeat="user in users | filter: {hasInfo:true}" value="{{user.username}}">{{user.username}}</option>
	</select>	
</div>
<!-- Header -->
<header>
	<div class="container">
	<div class="stats">
		<div class="third">
			<span>All Instant Answers</span>
			<h2>{{count.all_ias}}</h2>
		</div>
		<div class="third">
			<span>Open Pull Requests</span>
			<h2>{{count.open_prs}}</h2>
		</div>
		<div class="third">
			<span>Closed Pull Requests</span>
			<h2>{{count.closed_prs}}</h2>
		</div>
	</div>		
</div></header>

<div class="container">
	
	<!-- Sidebar -->
	<aside>
		<div class="profile card">
	<img src="{{user.avatar_url || user.gh_data.avatar_url}}" />
	<div class="content">
		<strong>{{user.name}}</strong>
		<br />@{{user.login}}
		<br />{{user.location}}		
	</div>
</div>
		<div class="topic" ng-repeat="t in topics | orderBy:'-amount'">
	<span class="amt">{{t.amount}}</span>
	{{t.topic}}
</div>	</aside>

	<!-- Main -->
	<main>
		<h3>Instant Answers</h3>
		<section>
			<div class="flex-container label">
				<div class="grid-1">Status</div>
				<div class="grid-4 pad-left-30">Instant Answer &amp; Maintainer</div>
				<div class="grid-2 text-right">Developer(s)</div>
			</div>
			<div class="instantanswer flex-container" ng-repeat="(shortname, ia) in ias" ng-include="'partials/b_instantanswer.html'">
			</div>
		</section>

		<section ng-if="count.open_prs">
			<h3>Open Pull Requests</h3>
			<div class="flex-container label">
				<div class="grid-1">Dev</div>
				<div class="grid-8">Pull Requests &amp; Comments</div>
				<div class="grid-3 text-right">Last Update &amp; Reviewer</div>
			</div>
			<div ng-repeat="issue in prs | filter:{state:'open'}" ng-include="'partials/b_issue.html'" class="issue flex-container">
			</div>
		</section>
	</main>


</div> <!-- /.container -->

</body>
</html>