html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: #fafafa; }

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  opacity: 0.2; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 21px;
  margin-bottom: 30px; }

html, body, p, div {
  font-size: 15px;
  color: #333; }

.red {
  color: #E0572A; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

section::after {
  clear: both;
  content: "";
  display: table; }

.card {
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: #fff; }
  .card .content {
    padding: 20px; }
  .card .header {
    padding: 20px;
    border-bottom: 1px solid #eee; }

.half {
  float: left;
  width: 367.5px;
  height: 150px; }
  .half:nth-child(even) {
    margin-left: 25px; }

.third {
  float: left;
  width: 236.6666666667px;
  margin-left: 25px; }
  .third:nth-child(3n+1) {
    margin-left: 0; }

.fourth {
  float: left;
  width: 171.25px;
  margin-left: 25px; }
  .fourth:nth-child(4n+1) {
    margin-left: 0; }

.status {
  float: right;
  margin-top: -4px;
  margin-left: 10px;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #eee;
  color: #aaa; }
  .status.live {
    border-color: rgba(89, 159, 73, 0.25);
    color: rgba(89, 159, 73, 0.7); }
  .status.ghosted {
    border-color: rgba(224, 87, 42, 0.25);
    color: rgba(224, 87, 42, 0.7); }

header {
  height: 160px;
  width: 100%;
  background-color: #3F94D6;
  border-top: none; }
  header .stats {
    margin-left: 259px; }
  header .stats, header div, header p {
    color: #fff; }

aside {
  position: absolute;
  top: 35px;
  width: 214px; }

.profile img {
  width: 100%; }
.profile .content {
  padding: 20px; }

main {
  margin-left: 259px;
  padding-top: 60px; }
