@import "bourbon", "neat";

// GLOBAL VARIABLES
// ----------------------------------------------------------------------------

// Colors

$white: 	#fff;
$offwhite: 	#fafafa;
$black: 	#333;
$black-10:	rgba($black, 0.10);

$deepblue: 	#3F94D6;

// Sizes

$tx-sm: 	13px;
$tx:	 	15px;
$tx-lg: 	21px;

$pad-xxs:	20px;
$pad-xs:	25px;
$pad-sm:	30px;
$pad:		45px;
$pad-lg:	60px;

$sidebar:	214px;
$main:		720px;

// MISC
// ----------------------------------------------------------------------------

body { 
	// padding: 50px 20px; 
	background-color: $offwhite;
}
html, body, p, div {
	color: $black;
}

.red { color: #f00; }

.toolbar {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	// background: #333;
	// color: #fff;
	opacity: 0.2;
}

.card {
	margin-bottom: $pad-xs;
	border-radius: 5px;
	border: 1px solid $black-10;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	background-color: $white;

	.content { padding: $pad-xxs; }
}

.container {
	@include outer-container;
}

.half {
	float: left;
	width: ($main - $pad-xs)/2;
	height: 200px;

	&:nth-child(even) { margin-left: $pad-xs; }
}
.third {
	float: left;
	width: ($main - 2*$pad-xs)/3;
	height: 200px;
	margin-left: $pad-xs;

	&:nth-child(3n+1) { margin-left: 0; }
}

// HEADER
// ----------------------------------------------------------------------------
header {
	height: 160px;
	width: 100%;
	background-color: $deepblue;
	border-top: none;
	
	.stats {
		margin-left: $sidebar + $pad;
	}
	.stats, div, p { color: $white; }
}

// SIDEBAR
// ----------------------------------------------------------------------------

aside {
	position: absolute;
	top: 35px;
	width: $sidebar;
	// float: left;

}

.profile {
	img { width: 100%;}

	.content { padding: $pad-xxs; }
}

// MAIN CONTENT
// ----------------------------------------------------------------------------

main {
	margin-left: $sidebar + $pad;
	padding-top: $pad-lg;
}