@import "bourbon", "neat";

// GLOBAL VARIABLES
// ----------------------------------------------------------------------------

// Colors

$white: 	#fff;
$offwhite: 	#fafafa;
$gray-lt:	#eee;
$gray:		#aaa;
$black: 	#333;
$black-10:	rgba($black, 0.10);

$deepblue: 	#3F94D6;

$green: 	#599F49;
$green-70:	rgba($green, 0.7);
$green-40:	rgba($green, 0.4);
$green-25:	rgba($green, 0.25);

$red:		#E0572A;
$red-70:	rgba($red, 0.7);
$red-40:	rgba($red, 0.4);
$red-25:	rgba($red, 0.25);

// Sizes

$tx-sm: 	13px;
$tx:	 	15px;
$tx-lg: 	21px;
$tx-xxl:	48px;

$pad-xxs:	20px;
$pad-xs:	25px;
$pad-sm:	30px;
$pad:		45px;
$pad-lg:	60px;

$sidebar:	214px;
$main:		760px;

$round:		5px;
$round-sm:	3px;

// MISC
// ----------------------------------------------------------------------------

body { 
	background-color: $offwhite;
}

.toolbar {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	// background: #333;
	// color: #fff;
	opacity: 0.2;
}

// TYPOGRAPHY
// ----------------------------------------------------------------------------

h2 { font-size: $tx-xxl; }
h3 { font-size: $tx-lg; margin-bottom: $pad-sm; }

html, body, p, div {
	font-size: $tx;
	color: $black;
}

.red { color: $red; }


// LAYOUT
// ----------------------------------------------------------------------------

.container {
	@include outer-container;
}

section {
	@include clearfix;
}

.card {
	margin-bottom: $pad-xs;
	border-radius: $round;
	border: 1px solid $black-10;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	background-color: $white;

	.content { padding: $pad-xxs; }
	.header {
		padding: $pad-xxs;
		border-bottom: 1px solid $gray-lt;
	}
}

.half {
	float: left;
	width: ($main - $pad-xs)/2;
	height: 150px;	// TODO: need to change this value

	&:nth-child(even) { margin-left: $pad-xs; }
}
.third {
	float: left;
	width: ($main - 2*$pad-xs)/3;
	margin-left: $pad-xs;

	&:nth-child(3n+1) { margin-left: 0; }
}
.fourth {
	float: left;
	width: ($main - 3*$pad-xs)/4;
	margin-left: $pad-xs;

	&:nth-child(4n+1) { margin-left: 0; }
}

// WIDGETS + ELEMENTS
// ----------------------------------------------------------------------------
.status {
	float: right;
	margin-top: -4px;
	margin-left: 10px;
	padding: 3px 6px;
	border-radius: $round-sm;
	border: 1px solid $gray-lt;
	color: $gray;

	&.live {
		border-color: $green-25;
		color: $green-70;
	}
	&.ghosted {
		border-color: $red-25;
		color: $red-70;	
	}
}


// HEADER
// ----------------------------------------------------------------------------
header {
	height: 160px;
	width: 100%;
	background-color: $deepblue;
	border-top: none;
	
	.stats {
		margin-left: $sidebar + $pad;
	}
	.stats, div, p { color: $white; }
}

// SIDEBAR
// ----------------------------------------------------------------------------

aside {
	position: absolute;
	top: 35px;
	width: $sidebar;
	// float: left;

}

.profile {
	img { width: 100%;}

	.content { padding: $pad-xxs; }
}

// MAIN CONTENT
// ----------------------------------------------------------------------------

main {
	margin-left: $sidebar + $pad;
	padding-top: $pad-lg;
}