// Import default SERP SCSS
@import "../default";

// Changes
#serp .result {
	&:hover {
		h4 a, h4 a b { 
			color: $dark-gray; 
			text-decoration: none;
		}

		.url img {
			opacity: 1;
			filter: grayscale(0);
		}
	}

	h4 { font-size: em(17px, 14px) }

	p { 
		margin-top: 0.3em;
		font-size: em(14px, 14px); 
		line-height: 1.5;
	}

	.url {
		margin-top: 0.1em; 

		img { 
			opacity: 0.5; 
			filter: grayscale(1);
		}

		a { 
			color: $current-blue; 

			&:visited { color: purple; }
		}
	}

	.date {
		margin-left: 12px;
		padding-left: 12px;
		border-left: 1px solid $lighter-gray;
		color: $neue-gray;
	}
}
