$spacing:	70px;

// Import default SERP SCSS
@import "../default";

html, body {
	height: 100%;
}

body {
	background: #f7f7f7 linear-gradient(309.41deg, #88B5F9 -38.89%, rgba(136, 190, 249, 0) 76.71%);
	overflow: scroll;
}

body, html, div, p, h1, h2, h3, h4 {
	color: $dark-gray;
}

ul {
	max-width: 520px;
	margin: 30px 0;
	padding-left: 1em;
	padding-right: 0;
	list-style-image: url('dot.svg');
}
li { 
	padding-left: 0.5em; 
	margin-bottom: 0.35em;
}

#logo {
	width: 92px;
	margin-bottom: $spacing;
}

.pad-top { margin-top: $spacing; }


