
.ia_wrapper {
	padding: $margin 0;
	// border-top: 1px solid map-get($colors, "platinum-darker");
	border-bottom: 1px solid map-get($colors, "platinum-darker");
	background-color: map-get($colors, "silver");
}
.has_tiles {
	overflow-y: hidden;
	white-space: nowrap;
	position: static;
}


.ia_tab {
	margin-left: $serp-margin-left;
	margin-bottom: $margin;
	color: map-get($colors, "dim");
}
.ia {
	margin-left: $serp-margin-left;
}
