// =======================
// SERP-Related elements
// ======================= */

header {
	padding-top: 16px;
	border-top: 4px solid map-get($colors, "red");
	border-bottom: 1px solid map-get($colors, "platinum-darker");
	box-shadow: 0 1px 0 rgba(0,0,0,0);

	.logo {
		float: left;
		width: 42px;
		height: 42px;
		border-radius: 100%;
		background-color: map-get($colors, "red");
		margin-left: 28px;
	}

	form {
		height: 38px;
		width: 845px;
		padding: $margin;
		margin-left: ($serp-margin-left - 10);
		border-radius: 2px;
		border: 1px solid map-get($colors, "silver-dark");
		background-color: map-get($colors, "white-alt");
	}

	input {
		display: block;
		width: 100%;
		font-size: 1.1em;
		background: none;
		outline: none;
		border: none;
		padding: 0;
		z-index: 1;
	}

	.duckbar {
		margin: $margin ($serp-margin-left - 10);

		a {
			padding: 0 $margin;
			color: map-get($colors, "dim");

			&.active { color: map-get($colors, "red"); }
			&.border { border-right: 1px solid map-get($colors, "platinum-darker"); }
		}
	}
}

.container.serp {
	width: $serp-width;
	margin-left: $serp-margin-left;

	p { 
		@extend .t-13;
		color: map-get($colors, "dim"); 
	}
}