.ui-panel {
	//display: none;	// come back to this one day

	width: 300px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	padding: $margin*2;

	opacity: 0.9;
	background-color: map-get($colors, "jet");
	color: map-get($colors, "white");
}