/* Colors */

/* Sass Maps: http://thesassway.com/news/sass-3-3-released */

$colors: (
	"black": #111,
	"white": #fff,
	"white-alt": #f7f7f7,
	"silver": #f2f2f2,
	"silver-dark": #c3c3c3,
	"platinum": #ededed,
	"platinum-dark": #e0e0e0,
	"platinum-darker": #d0d0d0,
	"ash": #aaaaaa,
	"gray-light": #999,
	"gray": #888888,
	"dim": #666666,
	"dim-blue": #434a50,
	"jet": #333333,
	"jet-blue": #34383b,

	"gray-blue": #707978,

	"gray-dark": dim,
	"gray-darker": jet,

	"divider-gray": platinum-darker,

	"red": #de5833,
	"red-dark": #bd4b2b,
	"red-darker": darken(#bd4b2b,15%),
	"red-light": #e37151,
	"red-lighter": lighten(#e37151,15%),
	"green": #589e4d,
	"blue-desaturated": #6096bf,
	"blue-dark-bg": #49a9f2,
	"blue": #4495d4,
	"blue-dark": #3a7fb4,
	"blue-darker": darken(#3a7fb4,15%),
	"blue-light": #60a5da,
	"blue-lighter": lighten(#60a5da,15%),
	"blue-lightest": lighten(#60a5da,20%),
	"gold": #f1a031,
	"purple": #5454db,
);

/* Sizes */

$base-font-size: 14.4px;
$margin: 10px;

$serp-width: 620px;
$max-width: 980px;

$serp-margin-left: 110px;