#serp {
  margin-top: 10px;
  margin-left: 100px; }

h4.bold, .bold {
  font-weight: 600; }

h4.normal, .normal {
  font-weight: 400; }

h4.unbold, .unbold {
  font-weight: 400; }
  h4.unbold b, .unbold b {
    font-weight: 400; }

.result {
  padding: 10px;
  border-radius: 3px; }
  .result:hover {
    cursor: pointer; }
    .result:hover .url .more {
      display: inline-block; }
  .result p {
    margin: 0; }
  .result .snippet {
    color: #666; }
    .result .snippet.normal b {
      color: #333; }
  .result a {
    color: inherit;
    text-decoration: none; }
    .result a:hover.underline {
      text-decoration: underline; }
    .result a:visited.default {
      color: default; }
    .result a:visited.purple {
      color: #6d59a3; }
    .result a:visited.gray {
      color: #888; }
  .result .url img {
    position: relative;
    top: -1px;
    margin-right: 3px; }
    .result .url img.grayscale {
      opacity: 0.5;
      filter: grayscale(1); }
    .result .url img.default {
      opacity: 1;
      filter: grayscale(0); }
  .result .url .more {
    float: right;
    display: none; }
  .result.proxima h4, .result.proxima p, .result.proxima div {
    font-family: 'proxima-nova'; }
  .result.helvetica h4, .result.helvetica p, .result.helvetica div {
    font-family: 'helvetica neue'; }
  .result.arial h4, .result.arial p, .result.arial div {
    font-family: 'arial'; }

.hide {
  display: none; }

.right {
  float: right; }

#x {
  position: absolute;
  top: 120px;
  right: 40px;
  width: 360px;
  border-radius: 3px;
  background-color: #4a4a4a;
  color: #fff;
  font-size: 13px; }
  #x .section {
    padding: 10px 15px; }
  #x .row {
    padding-bottom: 10px; }
  #x .tabs {
    padding-bottom: 0; }
    #x .tabs span {
      display: inline-block;
      padding-bottom: 10px;
      margin-right: 10px;
      cursor: pointer; }
      #x .tabs span.active {
        border-bottom: 2px solid #4495d4; }
  #x h5, #x h6, #x p, #x strong {
    font-size: 13px; }
  #x h5 {
    padding: 10px 15px;
    background-color: #333;
    border-top: 1px solid #222; }
    #x h5:hover {
      cursor: pointer; }
  #x strong {
    font-weight: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 100px;
    padding-right: 10px; }
  #x label {
    display: inline-block;
    width: 45px; }
  #x input {
    background: #333;
    border: 1px solid #222;
    color: #ccc; }
    #x input[type="text"] {
      width: 100px; }
    #x input:disabled {
      color: #666; }
