<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>04 / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../../assets/css/main.css" charset="utf-8">

	<!-- JS -->
	<script src="../../../assets/js/vue.js"></script>
	<script src="../../../assets/js/moment.min.js"></script>
    
</head>
<body>

<header id="app">
	<div class="logo"> </div>
	<form>
		<input type="text" v-bind:value="ui.search">
	</form>

	<div class="duckbar">
		<a class="active border">{{ ui.tab }}</a>
		<a>Images</a>
		<a>Videos</a>
	</div>
</header>

<!-- Load all other resources here: -->
<link rel="stylesheet" href="04.css" charset="utf-8">

<div id="serp">
	<div v-for="serp in serps">
		<serp-result :serp="serp" :x="x"></serp-result>	
	</div>

	<aside id="x">
		<h5 @click="showhide('result')">SERP Result</h5>
		<div class="section" v-show="toggle.result">
			<div class="row">
				<strong>width</strong>
				<input type="text" v-model="x.result.width">
			</div>

			<div class="row">
				<strong>margin-bottom</strong>
				<input type="text" v-model="x.result.margin">
			</div>

			<!-- TODO: add "separator" -->
		</div>
		
		<h5 @click="showhide('title')">Title</h5>
		<div class="section" v-show="toggle.title">
			<div class="row">
				<strong>font-size</strong>
				<input type="radio" value="14px" v-model="x.title.size"> <label>14px</label>
				<input type="radio" value="17px" v-model="x.title.size"> <label>17px</label>
				<input type="radio" value="19px" v-model="x.title.size"> <label>19px</label>
			</div>

			<div class="row">
				<strong>font weight</strong>
				<input type="radio" value="bold" v-model="x.title.weight"> <label>bold</label>
				<input type="radio" value="normal" v-model="x.title.weight"> <label>normal</label>
				<input type="radio" value="unbold" v-model="x.title.weight"> <label>unbold</label>
			</div>
			
			<div class="row">
				<strong>color</strong>
				<input type="text" v-model="x.title.color">
			</div>

			<div class="row">
				<strong>margin-bottom</strong>
				<input type="text" v-model="x.title.margin">
			</div>
		</div>

		<h5 @click="showhide('snippet')">Snippet</h5>
		<div class="section" v-show="toggle.snippet">
			<div class="row">
				<strong>font-size</strong>
				<input type="radio" value="13px" v-model="x.snippet.size"> <label>13px</label>
				<input type="radio" value="14px" v-model="x.snippet.size"> <label>14px</label>
			</div>

			<div class="row">
				<strong>font weight</strong>
				<input type="radio" value="normal" v-model="x.snippet.weight"> <label>normal</label>
				<input type="radio" value="unbold" v-model="x.snippet.weight"> <label>unbold</label>
			</div>
			
			<div class="row">
				<strong>color</strong>
				<input type="text" v-model="x.snippet.color">
			</div>

			<div class="row">
				<strong>line-height</strong>
				<input type="text" v-model="x.snippet.lineheight">
			</div>

			<div class="row">
				<strong>margin-bottom</strong>
				<input type="text" v-model="x.snippet.margin">
			</div>
		</div>

		<h5 @click="showhide('url')">URL</h5>
		<div class="section" v-show="toggle.url">
			<div class="row">
				<strong>font-size</strong>
				<input type="radio" value="13px" v-model="x.url.size"> <label>13px</label>
				<input type="radio" value="14px" v-model="x.url.size"> <label>14px</label>
			</div>

			<div class="row">
				<strong>font weight</strong>
				<input type="radio" value="normal" v-model="x.url.weight"> <label>normal</label>
				<input type="radio" value="unbold" v-model="x.url.weight"> <label>unbold</label>
			</div>
			
			<div class="row">
				<strong>color</strong>
				<input type="text" v-model="x.url.color">
			</div>

			<!-- TODO: add "aftersnippet" -->
		</div>

		<h5 @click="showhide('favicon')">Favicon</h5>
		<div class="section" v-show="toggle.favicon">
			<strong>type</strong>
			<input type="radio" value="hide" v-model="x.favicon.type"> <label>hide</label>
			<input type="radio" value="default" v-model="x.favicon.type"> <label>default</label>
			<input type="radio" value="grayscale" v-model="x.favicon.type"> <label>grayscale</label>
		</div>

	</aside> <!-- /#x -->

</div> <!-- /#serp -->



<template id="serp-result">
	<div class="result" :style="{'margin-bottom': x.result.margin, 'width': x.result.width}" @click="gotoLink()">
		<h4 :style="{'color': x.title.color, 'font-size': x.title.size, 'margin-bottom': x.title.margin}" :class="x.title.weight"><a :href="getLink()" v-html="serp.title"></a></h4>
		<p class="snippet" :style="{'color': x.snippet.color, 'font-size': x.snippet.size, 'line-height': x.snippet.lineheight, 'margin-bottom': x.snippet.margin}" :class="x.snippet.weight">
			<span v-html="serp.snippet"></span>
		</p>
		<p class="url" :style="{'color': x.url.color, 'font-size': x.url.size}" :class="x.url.weight">
			<img height="16" width="16" :src="serp.favicon" :class="x.favicon.type">
			<a :href="getLink()" v-html="serp.url"></a>
		</p>
	</div>
</template>

<script src="../app.js"></script>

</body>
</html>
