<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>04 / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../../assets/css/main.css" charset="utf-8">

	<!-- JS -->
	<script src="../../../assets/js/vue.js"></script>
	<script src="../../../assets/js/moment.min.js"></script>
    
</head>
<body>

<header id="app">
	<div class="logo"> </div>
	<form>
		<input type="text" v-bind:value="ui.search">
	</form>

	<div class="duckbar">
		<a class="active border">{{ ui.tab }}</a>
		<a>Images</a>
		<a>Videos</a>
	</div>
</header>

<!-- Load all other resources here: -->
<link rel="stylesheet" href="04.css" charset="utf-8">

<div id="serp">
	<div v-for="serp in serps">
		<serp-result :serp="serp" :x="x"></serp-result>	
	</div>

	<aside id="x">
		<div class="tabs section">
			<select class="right" @change="changePreset">
				<option disabled>Presets:</option>
				<option v-for="(value, key) in presets" :value="key">
					{{ key }} 
				</option>
			</select>

			<span @click="toggle.misc = false; toggle.export = false" :class="{active: !toggle.misc && !toggle.export}">Default</span>
			<span @click="toggle.misc = true; toggle.export = false" :class="{active: toggle.misc && !toggle.export}">Misc</span>
			<span @click="toggle.export = true" :class="{active: toggle.export}">Export</span>
		</div>

		<div v-show="!toggle.export">
			<h5 @click="showhide('result')">SERP Result</h5>
			<div class="section" v-show="toggle.result && !toggle.misc">
				<div class="row">
					<strong>font</strong>
					<select v-model="x.result.font">
						<option>proxima</option>
						<option>helvetica</option>
						<option>arial</option>
					</select>
				</div>

				<div class="row">
					<strong>width (px)</strong>
					<input type="text" v-model="x.result.width">
					<input type="range" v-model="x.result.width" min="500" max="700" step="10">
				</div>

				<div class="row">
					<strong>margin-bottom (em)</strong>
					<input type="text" v-model="x.result.margin" min="0" max="2">
					<input type="range" v-model="x.result.margin" min="0" max="2" step="0.1">
				</div>

				<!-- TODO: add "separator" -->
			</div>
			<!-- misc: -->
			<div class="section" v-show="toggle.result && toggle.misc">
				<div class="row">
					<strong>:hover bg-color</strong>
					<input type="text" v-model="x.result.backing">
				</div>
				<div class="row">
					<strong>:hover > title</strong>
					<input type="text" v-model="x.result.title_hover" :disabled="!x.result.title_hover_enable">
					<input type="checkbox" v-model="x.result.title_hover_enable">
				</div>
				<div class="row">
					<strong>:hover > url</strong>
					<input type="text" v-model="x.result.url_hover" :disabled="!x.result.url_hover_enable">
					<input type="checkbox" v-model="x.result.url_hover_enable">
				</div>
				<div class="row">
					<strong>:hover > favicon</strong>
					<input type="radio" value="hide" v-model="x.result.favicon_hover"> <label>hide</label>
					<input type="radio" value="default" v-model="x.result.favicon_hover"> <label>default</label>
					<input type="radio" value="grayscale" v-model="x.result.favicon_hover"> <label>grayscale</label>
				</div>
			</div>


			<h5 @click="showhide('title')">Title</h5>
			<div class="section" v-show="toggle.title && !toggle.misc">
				<div class="row">
					<strong>font weight</strong>
					<input type="radio" value="bold" v-model="x.title.weight"> <label>bold</label>
					<input type="radio" value="normal" v-model="x.title.weight"> <label>normal</label>
					<input type="radio" value="unbold" v-model="x.title.weight"> <label>unbold</label>
				</div>

				<div class="row">
					<strong>font-size (px)</strong>
					<input type="number" v-model="x.title.size" min="14" max="21">
				</div>
				
				<div class="row">
					<strong>color</strong>
					<input type="text" v-model="x.title.color">
				</div>

				<div class="row">
					<strong>margin-bottom (em)</strong>
					<input type="text" v-model="x.title.margin" min="0" max="0.75">
					<input type="range" v-model="x.title.margin" min="0" max="0.75" step="0.05">
				</div>
			</div>
			<!-- misc: -->
			<div class="section" v-show="toggle.title && toggle.misc">
				<div class="row">
					<strong>:visited</strong>
					<input type="radio" value="default" v-model="x.title.visited"> <label>default</label>
					<input type="radio" value="purple" v-model="x.title.visited"> <label>purple</label>
					<input type="radio" value="gray" v-model="x.title.visited"> <label>gray</label>
				</div>
				<div class="row">
					<strong>:hover</strong>
					<input type="checkbox" v-model="x.title.underline" value="underline"> <label>underline</label>
				</div>
			</div>

			<h5 @click="showhide('snippet')">Snippet</h5>
			<div class="section" v-show="toggle.snippet && !toggle.misc">
				<div class="row">
					<strong>font weight</strong>
					<input type="radio" value="normal" v-model="x.snippet.weight"> <label>normal</label>
					<input type="radio" value="unbold" v-model="x.snippet.weight"> <label>unbold</label>
				</div>

				<div class="row">
					<strong>font-size (px)</strong>
					<input type="number" v-model="x.snippet.size" min="13" max="15">
				</div>

				<div class="row">
					<strong>line-height</strong>
					<input type="text" v-model="x.snippet.lineheight" min="1" max="2">
					<input type="range" v-model="x.snippet.lineheight" min="1" max="2" step="0.05">
				</div>

				<div class="row">
					<strong>margin-bottom (em)</strong>
					<input type="text" v-model="x.snippet.margin" min="0" max="0.5">
					<input type="range" v-model="x.snippet.margin" min="0" max="0.5" step="0.05">
				</div>
			</div>

			<h5 @click="showhide('url')">URL</h5>
			<div class="section" v-show="toggle.url && !toggle.misc">
				<div class="row">
					<strong>font weight</strong>
					<input type="radio" value="normal" v-model="x.url.weight"> <label>normal</label>
					<input type="radio" value="unbold" v-model="x.url.weight"> <label>unbold</label>
				</div>

				<div class="row">
					<strong>font-size (px)</strong>
					<input type="number" v-model="x.url.size" min="13" max="15">
				</div>
				
				<div class="row">
					<strong>color</strong>
					<input type="text" v-model="x.url.color">
				</div>

				<div class="row">
					<strong></strong>
					<input type="checkbox" v-model="x.url.aftersnippet"> After Snippet
				</div>
				<div class="row">
					<strong>margin-bottom (em)</strong>
					<input type="text" v-model="x.url.margin" :disabled="x.url.aftersnippet" min="0" max="0.5">
					<input type="range" v-model="x.url.margin" :disabled="x.url.aftersnippet" min="0" max="0.5" step="0.05">
				</div>
				<!-- TODO: need margin-bottom (for when it's above snippet) -->
			</div>
			<!-- misc: -->
			<div class="section" v-show="toggle.url && toggle.misc">
				<div class="row">
					<strong>:visited</strong>
					<input type="radio" value="default" v-model="x.url.visited"> <label>default</label>
					<input type="radio" value="purple" v-model="x.url.visited"> <label>purple</label>
					<input type="radio" value="gray" v-model="x.url.visited"> <label>gray</label>
				</div>
				<div class="row">
					<strong>:hover</strong>
					<input type="checkbox" v-model="x.url.underline" value="underline"> <label>underline</label>
				</div>
			</div>

			<h5 @click="showhide('favicon')">Favicon + More Results</h5>
			<div class="section" v-show="toggle.favicon && !toggle.misc">
				<div class="row">
					<strong>favicon type</strong>
					<input type="radio" value="hide" v-model="x.favicon.type"> <label>hide</label>
					<input type="radio" value="default" v-model="x.favicon.type"> <label>default</label>
					<input type="radio" value="grayscale" v-model="x.favicon.type"> <label>grayscale</label>
				</div>
				<div class="row">
					<strong>more results</strong>
					<input type="radio" value="floatright" v-model="x.more.type"> <label>right</label>
					<input type="radio" value="withurl" v-model="x.more.type"> <label>with url</label>
					<input type="radio" value="hide" v-model="x.more.type"> <label>hide</label>
				</div>
				<div class="row">
					<strong>color</strong>
					<input type="text" v-model="x.more.color">
				</div>
			</div>

		</div>
		
		<!-- Export:  -->
		<div v-show="toggle.export">
			<h5>..to Preset (copy/paste to Abe)</h5>
			<div class="section">
				{{ x }}
			</div>
		</div>

	</aside> <!-- /#x -->

</div> <!-- /#serp -->



<template id="serp-result">
	<div class="result" :style="{'margin-bottom': x.result.margin+'em', 'width': x.result.width+'px'}" @click="gotoLink()" @mouseover="hoverResult" @mouseout="outResult" :class="x.result.font">
		<h4 :style="{'color': x.title.color, 'font-size': x.title.size+'px', 'margin-bottom': x.title.margin+'em'}" :class="x.title.weight"><a :href="getLink()" class="titlelink" :class="[x.title.visited, x.title.underline[0]]"v-html="serp.title"></a></h4>
		<p v-show="!x.url.aftersnippet" class="url" :style="{'color': x.url.color, 'font-size': x.url.size+'px', 'margin-bottom': x.url.margin+'em'}" :class="[x.url.weight, x.url.visited]">
			<img height="16" width="16" :src="serp.favicon" :class="x.favicon.type">
			<a :href="getLink()" class="urllink" :class="[x.url.visited, x.url.underline[0]]" v-html="serp.url"></a>
			<a class="more" :class="[x.more.type, x.url.underline[0]]"  :style="{'color': x.more.color}" href="#">More results</a>
		</p>
		<p class="snippet" :style="{'color': x.snippet.color, 'font-size': x.snippet.size+'px', 'line-height': x.snippet.lineheight, 'margin-bottom': x.snippet.margin+'em'}" :class="x.snippet.weight">
			<span v-html="serp.snippet"></span>
		</p>
		<p v-show="x.url.aftersnippet" class="url" :style="{'color': x.url.color, 'font-size': x.url.size+'px'}" :class="[x.url.weight, x.url.visited]">
			<img height="16" width="16" :src="serp.favicon" :class="x.favicon.type">
			<a :href="getLink()" class="urllink" :class="[x.url.visited, x.url.underline[0]]" v-html="serp.url"></a>
			<a class="more" :class="[x.more.type, x.url.underline[0]]"  :style="{'color': x.more.color}" href="#">More results</a>
		</p>
	</div>
</template>

<script src="../app.js"></script>

</body>
</html>
