body {
  background-color: #fff;
  padding-bottom: 60px; }

a, a:visited {
  color: #333;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: rgba(68, 149, 212, 0.85); }

h1, h2, h3, h4 {
  margin-top: 40px; }

h2 {
  font-size: 21px; }

html, body, p, div, th, td {
  font-size: 13px;
  color: #333; }

.subtitle {
  color: #aaa; }

.good {
  color: #599F49; }

.bad {
  color: #E0572A; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.float-right {
  float: right; }

.partial td {
  background-color: rgba(241, 160, 49, 0.1); }

.container {
  margin: 40px auto;
  max-width: 1200px; }

.flex-container {
  display: flex;
  align-items: center; }
  .flex-container.align-top {
    align-items: flex-start; }
  .flex-container .grid-1 {
    flex: 1; }
  .flex-container .grid-2 {
    flex: 2; }
  .flex-container .grid-4 {
    flex: 4; }
  .flex-container .grid-6 {
    flex: 6; }
  .flex-container .grid-8 {
    flex: 8; }

th, td {
  padding: 5px;
  border: 1px solid #eee; }
  th.right-divide, td.right-divide {
    border-right: 1px solid rgba(170, 170, 170, 0.5); }

th {
  font-size: 10px;
  text-align: left; }

td {
  text-align: right; }

.margin-left {
  padding-left: 30px; }

.margin-right {
  padding-right: 30px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-left-20 {
  padding-left: 20px; }

.pad-left-30 {
  padding-left: 30px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-right-30 {
  padding-right: 30px; }
