@import "bourbon";

// GLOBAL VARIABLES
// ----------------------------------------------------------------------------

// Colors

$white: 	#fff;
$offwhite: 	#fafafa;
$gray-dk:	#666;
$gray-med:	#999;
$gray:		#aaa;
$gray-50:	rgba($gray, 0.5);
$gray-lt:	#eee;

$black: 	#333;
$black-10:	rgba($black, 0.10);
$black-05:	rgba($black, 0.05);

$blue: 		#4495d4;
$blue-85: 	rgba($blue, 0.85);
$blue-10: 	rgba($blue, 0.10);

$green: 	#599F49;
$green-70:	rgba($green, 0.7);
$green-40:	rgba($green, 0.4);
$green-25:	rgba($green, 0.25);

$red:		#E0572A;
$red-70:	rgba($red, 0.7);
$red-40:	rgba($red, 0.4);
$red-25:	rgba($red, 0.25);
$red-10:	rgba($red, 0.10);

$gold:		#f1a031;
$gold-10:	rgba($gold, 0.10);

// Sizes

$tx-xxs:	10px;
$tx-sm: 	13px;
$tx:	 	15px;
$tx-lg: 	18px;
$tx-xxl: 	21px;

$pad-xxxs:	10px;
$pad-xxs:	20px;
$pad-xs:	25px;
$pad-sm:	30px;
$pad:		45px;
$pad-lg:	60px;

$aside:		200px;



// MISC
// ----------------------------------------------------------------------------

body {
	background-color: $white;
	padding-bottom: $pad-lg;
}


// TYPOGRAPHY
// ----------------------------------------------------------------------------

a, a:visited {
	color: $black;
	text-decoration: none;

	&:hover {
		color: $blue-85;
	}
}


h1, h2 { font-size: $tx-lg; }
// h2 { margin-top: 40px; }

html, body, p, div, th, td {
	font-size: $tx-sm;
	color: $black;
}

.subtitle, .gray {
	color: $gray;
}

.good { color: $green; }
.bad { color: $red; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.float-right { float: right; }

.partial td {
	background-color: $offwhite;
}


// LAYOUT
// ----------------------------------------------------------------------------

aside {
	position: fixed;
	top: 0;
	bottom: 0;
	width: $aside;
	padding: 20px;
	background-color: $blue-10;
}

input { margin-right: 3px; }

.set { 
	margin-top: 15px; 
	font-size: $tx;
	color: $gray-dk;
}

.container {
	margin: 40px 0 40px $aside+40px;
	max-width: 1200px;
}

section { margin-bottom: 40px; }

.flex-container {
	display: flex;
	align-items: center;
	// justify-content: space-between;

	&.align-top { align-items: flex-start; }

	.grid-1 { flex: 1; }
	.grid-2 { flex: 2; }
	.grid-4 { flex: 4; }
	.grid-6 { flex: 6; }
	.grid-8 { flex: 8; }
}

table { table-layout: fixed; }

th, td {
	padding: 5px;
	border: 1px solid $gray-lt;

	&.nolines { border: none; color: $gray; text-align: right; background: none; }
	&.separator { 
		width: 1px; 
		padding: 0;
		border-left: none;
		border-right: 1px solid $gray-50; 
	}
}
th {
	font-size: $tx-xxs;
	text-align: left;
	// background-color: $gray-50;
}
td {
	text-align: right; 
}

.margin-left { padding-left: 30px; }
.margin-right { padding-right: 30px; }

.pad-left-10 { padding-left: 10px; }
.pad-left-20 { padding-left: 20px; }
.pad-left-30 { padding-left: 30px; }
.pad-right-20 { padding-right: 20px; }
.pad-right-30 { padding-right: 30px; }

