body {
  background-color: #fff;
  padding-bottom: 60px; }

a, a:visited {
  color: #333;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: rgba(68, 149, 212, 0.85); }

h1, h2 {
  font-size: 18px; }

html, body, p, div, th, td {
  font-size: 13px;
  color: #333; }

.subtitle, .gray {
  color: #aaa; }
  .subtitle strong, .gray strong {
    color: #333;
    margin-right: 5px; }

.good {
  color: #599F49; }

.bad {
  color: #E0572A; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.float-right {
  float: right; }

.partial td {
  background-color: #fafafa; }

p {
  margin-bottom: 45px; }

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 20px;
  background-color: rgba(68, 149, 212, 0.1); }

input {
  margin-right: 3px; }

.set {
  margin-top: 15px;
  font-size: 15px;
  color: #666; }

.grouping {
  float: left;
  border-right: 1px solid #eee; }
  .grouping p {
    clear: left;
    padding-top: 15px;
    margin-bottom: 0;
    text-align: center; }
    .grouping p .tooltip {
      position: absolute; }
    .grouping p:hover .tooltip {
      display: block; }

.tooltip {
  position: relative;
  text-align: center;
  display: none; }

.label {
  color: #4495d4; }

.label.green {
  color: #599F49; }
  .label.green .dot {
    background-color: rgba(89, 159, 73, 0.7); }

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: rgba(68, 149, 212, 0.85); }

.barwrapper {
  height: 300px;
  width: 20px;
  position: relative;
  float: left;
  margin-right: 1px; }
  .barwrapper .bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(68, 149, 212, 0.85);
    opacity: 0.5; }
    .barwrapper .bar .tooltip {
      top: -40px;
      left: -10px;
      width: 40px;
      background-color: rgba(255, 255, 255, 0.5);
      color: #666; }
    .barwrapper .bar:hover {
      opacity: 1; }
      .barwrapper .bar:hover .tooltip {
        display: block; }
    .barwrapper .bar.green {
      background-color: rgba(89, 159, 73, 0.7); }

.container {
  margin: 40px 0 40px 240px;
  max-width: 1200px; }

section {
  margin-bottom: 40px; }
  section::after {
    clear: both;
    content: "";
    display: table; }

.flex-container {
  display: flex;
  align-items: center; }
  .flex-container.align-top {
    align-items: flex-start; }
  .flex-container .grid-1 {
    flex: 1; }
  .flex-container .grid-2 {
    flex: 2; }
  .flex-container .grid-4 {
    flex: 4; }
  .flex-container .grid-6 {
    flex: 6; }
  .flex-container .grid-8 {
    flex: 8; }

table {
  table-layout: fixed; }

th, td {
  padding: 5px;
  border: 1px solid #eee; }
  th.nolines, td.nolines {
    border: none;
    color: #aaa;
    text-align: right;
    background: none; }
  th.separator, td.separator {
    width: 1px;
    padding: 0;
    border-left: none;
    border-right: 1px solid rgba(170, 170, 170, 0.5); }

th {
  font-size: 10px;
  text-align: left; }

td {
  text-align: right; }

.margin-left {
  margin-left: 30px; }

.margin-right {
  margin-right: 30px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-left-20 {
  padding-left: 20px; }

.pad-left-30 {
  padding-left: 30px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-right-30 {
  padding-right: 30px; }
