@font-face {
  font-family: 'proxima-nova';
  src: url("../../assets/fonts/ProximaNova-Semibold-webfont.eot");
  src: url("../../assets/fonts/ProximaNova-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ProximaNova-Semibold-webfont.woff2") format("woff2"), url("../../assets/fonts/ProximaNova-Semibold-webfont.woff") format("woff"), url("../../assets/fonts/ProximaNova-Semibold-webfont.ttf") format("truetype"), url("../../assets/fonts/ProximaNova-Semibold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'proxima-nova';
  src: url("../../assets/fonts/ProximaNova-Light-webfont.eot");
  src: url("../../assets/fonts/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ProximaNova-Light-webfont.woff2") format("woff2"), url("../../assets/fonts/ProximaNova-Light-webfont.woff") format("woff"), url("../../assets/fonts/ProximaNova-Light-webfont.ttf") format("truetype"), url("../../assets/fonts/ProximaNova-Light-webfont.svg#proxima_novalight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'proxima-nova';
  src: url("../../assets/fonts/ProximaNova-Regular-webfont.eot");
  src: url("../../assets/fonts/ProximaNova-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ProximaNova-Regular-webfont.woff2") format("woff2"), url("../../assets/fonts/ProximaNova-Regular-webfont.woff") format("woff"), url("../../assets/fonts/ProximaNova-Regular-webfont.ttf") format("truetype"), url("../../assets/fonts/ProximaNova-Regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima-nova';
  src: url("../../assets/fonts/ProximaNova-RegularItalic-webfont.eot");
  src: url("../../assets/fonts/ProximaNova-RegularItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ProximaNova-RegularItalic-webfont.woff2") format("woff2"), url("../../assets/fonts/ProximaNova-RegularItalic-webfont.woff") format("woff"), url("../../assets/fonts/ProximaNova-RegularItalic-webfont.ttf") format("truetype"), url("../../assets/fonts/ProximaNova-RegularItalic-webfont.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: italic; }

.container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden; }

#container0 {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center; }
  #container0 h1 {
    max-width: 80%;
    font-weight: 300;
    font-size: 72px;
    color: #aaa; }
  #container0 .logo {
    position: relative; }
  #container0 .ddg {
    height: 120px;
    top: 53px;
    left: 20px; }
  #container0 .goog {
    height: 80px;
    top: 30px;
    left: 15px; }

#container1 {
  background-color: #56CCF2; }

#container2 {
  background-color: #70CE96; }
  #container2 .msg-container {
    top: 120px; }

.header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  z-index: 50; }
  .header div {
    display: inline-block; }
    .header div.company {
      position: relative;
      top: -41px;
      color: #aaa;
      font-size: 21px; }

.wrap {
  text-align: center;
  margin: auto 0; }

label {
  margin: 1.5em 0.6em; }

input {
  position: absolute;
  left: -9999px; }

.slider-v2 {
  position: relative;
  display: inline-block;
  width: 5.5em;
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms; }

.slider-v2::after {
  position: absolute;
  content: '';
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  background: #ccc; }

.slider-v2::before {
  position: absolute;
  content: '';
  width: 4em;
  height: 1.5em;
  top: 0.75em;
  left: 0.75em;
  border-radius: 0.75em;
  transition: 250ms ease-in-out;
  background: #72CE99;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 #da5a40 inset; }

input:checked + .slider-v2::before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 #da5a40 inset; }

input:checked + .slider-v2::after {
  left: 3em; }

div, p {
  font-family: 'proxima-nova'; }

p {
  margin-top: 4px;
  opacity: .85; }

.msg-container {
  position: absolute;
  top: 180px;
  width: 100%;
  z-index: 100; }

.message {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-size: 21px;
  line-height: 1.4;
  color: #fff; }

#msg1b, #msg2b {
  display: none; }
