// DEFAULT
// try to mimic default settings as much as possible

$lightest-gray:	#eee;
$lighter-gray:	#ddd;
$neue-gray:		#999;
$gray: 			#888;
$dark-gray: 	#333;
$current-blue: 	#4495d4;
$purple:		#5558D8;
$dark-purple:	#474BB8;

#serp {
	margin-top: 10px;
	margin-left: 100px;
}

.result {
	margin-bottom: 0.4em;
	padding: 10px;
	border-radius: 3px;

	&:hover {
		background-color: #F7F7F7;
		cursor: pointer;

		.url .more { display: inline-block; }

		h4 a, h4 a b { color: $current-blue; }
	}

	h4 { font-weight: 400; }
	p {
		margin: 0;
		
		margin-top: 0.1em;
	}
	b { color: #333; }

	a { 
		color: $dark-gray; 
		text-decoration: none;

		&:hover { 
			color: $current-blue;
			text-decoration: underline; 
		}
	}
	.url {
		a { 
			padding-left: 3px;
			color: $gray; 

			&:hover { color: $current-blue; }
		}
		img {
			position: relative;
			top: -1px;
		}
		.more { 
			float: right; 
			display: none;
		}
	}
}

// functions + generic classes
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}
