/*  "Base Changes"
    - 14px snippet + url
    - 14px module + right ad
    - increase margins between results
    - slight update to ad badge
*/

/*  get livecsseditor for chrome / safari:
    http://www.livecsseditor.com/
    copy/paste the following code in:
*/

.result {
  margin-bottom: 1em;
}

/* modify snippet */
.result__title {
  margin-bottom: 0.3em;
}

.result__snippet {
  font-size: 1em;
  line-height: 1.45;
  margin-bottom: 0.2em;
}

/* footer */
.result__extras {
  font-size: 1em;
}

.result__icon img {
  margin-top: -0.1em;
}


/* module */
.module__text, .module__official-url, .about-info-box {
  font-size: 1em;
  line-height: 1.45;
}
.module__title__sub, .about-info-box__info-label {
  font-size: 14.4px;
  margin-top: 2px;
}
/* ads */
.result--ad.result--ad--small .result__a {
  font-size: 14.4px;
}
.result--ad.result--ad--small .result__snippet, .result--ad.result--ad--small .result__extras {
  font-size: 1em;
}

/* badge */
.result__badge {
  padding: 2px;
  line-height: 1;
  height: 13px;
}
.badge--ad {
  background-color: #3b79c6; /* off-blue */
}