/*  "Controlled Experiment #2"
    hover: no backing
    title: black
    url: blue (under snippet)
    visited url: purple
    favicons: colored
*/

/*  get livecsseditor for chrome / safari:
    http://www.livecsseditor.com/
    copy/paste the following code in:
*/

/* results */
.result__check {
  display: none;  /* remove checkmark */
} 

.result {
  margin-bottom: 1em;
}

.result.highlight {
  /* remove backing */
  background-color: transparent;
}
.result.highlight .result__url, 
.result.highlight .result__menu {
  text-decoration: none;
}
.highlight .result__a, .highlight .result__a:hover {
  color: inherit;
  text-decoration: underline;
}
.highlight .result__url:hover, .highlight .result__menu:hover {
  text-decoration: underline;
}

/* modify snippet */
.result__title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.result__snippet {
  font-size: 1em;
  line-height: 1.45;
  margin-bottom: 0.2em;
}

/* footer */
.result__extras {
  font-size: 1em;
}

.result__icon img {
  margin-top: -0.1em;
}

.result__url, 
.result__menu, /* "more results" */
.module__official-url, .module__wikipedia-url, /* module */
.result--ad .result__url, .sponsored__url, .sponsored__sitelink /* ads */
{
  color: #3a77c9; /* blue */
}

.result__url:visited {
  color: #888; /* gray */
}

/* ads */
.result__badge {
  padding: 2px;
  line-height: 1;
  height: 13px;
}
.badge--ad {
  background-color: #3b79c6; /* off-blue */
}