/*  "Blue/Purple Titles"

*/

/*  get livecsseditor for chrome / safari:
    http://www.livecsseditor.com/
    copy/paste the following code in:
*/

/* results */
.result__check {
  display: none;  /* remove checkmark */
} 
.result {
  margin-bottom: 1em;
}

/* modify snippet */
.result__title {
  margin-bottom: 0.3em;
}

.result__a, .highlight .result__a, .highlight .result__a:hover {
  color: #084999; /* blue */
}
.result__a:visited, .result__a:visited:hover {
  color: #5536b3; /* purple */
}

.result__snippet {
  line-height: 1.45;
  margin-bottom: 0.2em;
}

/* footer */
.result__icon img {
  margin-top: -0.1em;
}

/* badge */
.result__badge {
  padding: 2px;
  line-height: 1;
  height: 13px;
}
.badge--ad {
  background-color: #3b79c6; /* off-blue */
}