<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>privacygrade / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">

	<!-- JS -->
	<script src="../../assets/js/underscore-min.js"></script>
    <script src="../../assets/js/vue.js"></script>
	
    
</head>
<body>

<link rel="stylesheet" href="privacygrade.css" charset="utf-8">


<div class="container">
	<div id="pg">
		<!-- TODO: add header -->
		<div v-for="(row, index) in rows">
			<card :row="row" :index="index" :x="x" v-on:update="calculateScore()"></card>
		</div>

		<strong> Total score: {{ score }} </strong>
		
	</div> <!-- /#pg -->
</div> <!-- /.container -->


<!-- Templates -->
<template id="card">
	<div :id="row.id" :class="{toggle: row.toggle}" class="card-wrap">
		<div class="card">
			<div class="column">
				(icon)
			</div>
			<div class="column col3">
				<strong>{{ row.title }} </strong>
				<div>{{ row.snippet }}</div>
			</div>

			<!-- Options -->
			<div class="column col3">
				<div v-if="index === 0">
					<span @click="x.isencrypted = true; update()"  :class="{active: x.isencrypted}" class="button">Encrypted</span>
					<span @click="x.isencrypted = false; update()" :class="{active: !x.isencrypted}" class="button">Unencrypted</span>
				</div>
				<div v-else-if="index === 1">
					<input type="range" v-model="x.trackers" min="0" max="20" step="1" :input="update()"> {{x.trackers}}
				</div>
				<div v-if="index === 2">
					<span @click="x.major.google = !x.major.google; update()" :class="{active: x.major.google}" class="button">G</span>
					<span @click="x.major.facebook = !x.major.facebook; update()" :class="{active: x.major.facebook}" class="button">F</span>
					<span @click="x.major.twitter = !x.major.twitter; update()" :class="{active: x.major.twitter}" class="button">T</span>
					<span @click="x.major.amazon = !x.major.amazon; update()" :class="{active: x.major.amazon}" class="button">Am</span>
					<span @click="x.major.appnexus = !x.major.appnexus; update()" :class="{active: x.major.appnexus}" class="button">Ap</span>
					<span @click="x.major.oracle = !x.major.oracle; update()" :class="{active: x.major.oracle}" class="button">O</span>
				</div>
				<div v-if="index === 3">
					<span @click="x.isthismajor = false; update()" :class="{active: !x.isthismajor}" class="button">No</span>
					<span @click="x.isthismajor = true; update()"  :class="{active: x.isthismajor}" class="button">Yes</span>
				</div>
				<div v-else>
					(More options...)
				</div>
			</div>
			
			<div class="column">
				{{ row.points }}
			</div>
		</div>
		<div class="card desc" v-show="row.toggle">
			<div class="column">
				&nbsp;
			</div>
			<div class="column col6">
				{{ row.desc }}
			</div>
			<div class="column">
				&nbsp;
			</div>
		</div>
	</div>
</template>

<script src="./app.js"></script>

</body>
</html>
