// COLORS

$white: 		#fff;
$offwhite:		#fafafa;
$lightest-gray:	#eee;
$lighter-gray:	#ddd;
$neue-gray:		#999;
$gray: 			#888;
$slight-gray:	#777;
$dark-gray: 	#343A40;	// bootstrap
$current-blue: 	#4495d4;
$purple:		#5558D8;
$dark-purple:	#474BB8;
$royal-purple:  #1F0B42;

$backing-height: 324px;
$row-height:	110px;
$row-pad:		20px;
$header-top:	40px;
$header-pad:	40px;
$button-height: 40px;
$progress-height: 4px;

body, div, p {
	font-family: proxima-nova;
	font-size: 14px;
}

body {
	padding-top: $header-top / 2;
	padding-bottom: $header-top;
	background: #F9F9F9;
}

h5 { font-weight: bold; }

.top { 
	margin-bottom: $header-top; 
	color: $white;

	h2 { 
		padding-top: 8px;
		font-size: 24px;
	}

	p { 
		line-height: 1.4; 
		color: $white;
		opacity: 0.66;
		
		a { 
			color: $white;
			text-decoration: underline;
		}
	}
}

.text-left { padding-left: $header-pad; }
.text-right { padding-right: $header-pad; }

#header {

	.row-wrap {
		background: $offwhite;
		border-top: 1px solid $lightest-gray;
	}

	.gradescale {
		padding: 0 15px 10px;

		span {
			font-size: 12px;
			color: $slight-gray;
		}
	}

	.gradeticks {
		padding-bottom: 0;
		position: relative;
		top: $progress-height;
		height: $progress-height;

		span { border-left: $progress-height solid $white; }
		span:first-child { border-left: none; }
	}

	.progress {
		height: $progress-height;
		border-radius: 0;
	}

	#website { 
		display: inline-block; 
	}
}

.backing {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $backing-height;
	background-color: $royal-purple;
	z-index: -1;
}

.label {
	font-size: 12px;
	color: $slight-gray;
	letter-spacing: 2.5px;
	line-height: 18px;
	text-transform: uppercase;
	padding-right: 10px;
}

.grade {
	// absolute center
	position: absolute;
	left: 0;
	right: 0;
	top: -70px;
	margin: auto;

	width: $row-height;
	height: $row-height;
	border-radius: $row-height/2;
	line-height: $row-height;
	text-align: center;
	color: #fff;

	strong { font-size: 48px; }
}

.fixed-top {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: $royal-purple;

	.grade {
		top: -10px;
		width: 80px;
		height: 80px;
		line-height: 80px;
	}
}
.pushdown {
	margin-top: 154px;
}

.shadow {
	box-shadow: 0 10px 10px -5px rgba(0,0,0,0.25);
}
.shadow-card {
	box-shadow: 0 10px 20px -10px rgba(0,0,0,0.25);
}

.row-wrap {
	/*height: $row-height;*/
	background: $white;
	border: 1px solid $lightest-gray;
	border-bottom: none;
	
	.btn-float { display: none; }

	&:last-child { border-bottom: 1px solid $lightest-gray; }

	&.hover { 
		background: $offwhite; 

		.btn-float { display: inline; }
	}
	&.toggle {
		border: none;
		margin-bottom: 20px;

		&.hover { background: $white; }

		.row { 
			border: 1px solid $lightest-gray;
			background: $white; 

			&.desc { 
				background: $offwhite; 

				a {
					color: $dark-gray;
					text-decoration: underline;
				}
			}
		}
		.btn-float { 
			display: inline; 
			right: -42px;
		}
	}
}
.row {
	padding: $row-pad;

	&.row-title {
		padding-bottom: $row-pad/2;
	}
}

.icon {
	opacity: 0.75;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;

	&#icon-lock { background-image: url(assets/icons/bw-lock.svg); }
	&#icon-shield { background-image: url(assets/icons/bw-shield.svg); }
	&#icon-major, &#icon-percentsites { background-image: url(assets/icons/bw-major.svg); }
	&#icon-policy { background-image: url(assets/icons/bw-policy.svg); }

	&.bad {
		&#icon-lock { background-image: url(assets/icons/bw-lock-bad.svg); }
		&#icon-shield { background-image: url(assets/icons/bw-shield-bad.svg); }
		&#icon-major, &#icon-percentsites { background-image: url(assets/icons/bw-major-bad.svg); }
		&#icon-policy { background-image: url(assets/icons/bw-policy-bad.svg); }
	}
	
	&.icon-logo { 
		opacity: 1;
		height: 48px;
		background-image: url(assets/ddg-logo.svg); 
		background-size: 48px 48px; 
		background-position: $header-pad center;
	}
}
.toggle .icon, .hover .icon {
	opacity: 1;

	&#icon-lock { background-image: url(assets/icons/lock.svg); }
	&#icon-shield { background-image: url(assets/icons/shield.svg); }
	&#icon-major, &#icon-percentsites { background-image: url(assets/icons/major.svg); }
	&#icon-policy { background-image: url(assets/icons/policy.svg); }

	&.bad {
		&#icon-lock { background-image: url(assets/icons/lock-bad.svg); }
		&#icon-shield { background-image: url(assets/icons/shield-bad.svg); }
		&#icon-major, &#icon-percentsites { background-image: url(assets/icons/major-bad.svg); }
		&#icon-policy { background-image: url(assets/icons/policy-bad.svg); }
	}
}

.illo {
	width: 266px;
	height: 100%;
	display: inline-block;
	border-radius: 5px;
	background-color: $lightest-gray;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;

	&.illo-lock0 { background-image: url(assets/illos/encryption-0.png); }
	&.illo-lock-1 { background-image: url(assets/illos/encryption-1.png); }
	&.illo-shield0 { background-image: url(assets/illos/happy.png); }
	&.illo-shield-1 { background-image: url(assets/illos/trackers-1.png); }
	&.illo-shield-2 { background-image: url(assets/illos/trackers-2.png); }
	&.illo-shield-3 { background-image: url(assets/illos/trackers-3.png); }
	&.illo-major0 { background-image: url(assets/illos/happy.png); } 
	&.illo-major-1 { background-image: url(assets/illos/majortrackers-1.png); } 
	&.illo-percentsites0 { background-image: url(assets/illos/happy.png); }
	&.illo-percentsites-1 { background-image: url(assets/illos/percent-1.png); }
	&.illo-percentsites-2 { background-image: url(assets/illos/percent-2.png); }
	&.illo-percentsites-3 { background-image: url(assets/illos/percent-3.png); }
	&.illo-percentsites-4 { background-image: url(assets/illos/percent-4.png); }
	&.illo-policy0 { background-image: url(assets/illos/privacy-0.png); }
	&.illo-policy-1 { background-image: url(assets/illos/privacy-1.png); }
	&.illo-policy-2 { background-image: url(assets/illos/privacy-2.png); }
	&.illo-policy-3 { background-image: url(assets/illos/privacy-3.png); }
}

.btn {
	&.btn-light {
		// padding: 10px;
		background: $lighter-gray;
	}

	&.btn-reg {
		height: $button-height;
		line-height: $button-height - 10; // vertical center
	}

	&.btn-pair { width: $button-height * 3 + 10; }
	&.btn-pad { 
		padding-left: 15px;
		padding-right: 15px;
	}

	&.btn-round {
		margin-right: 2px;
		width: $button-height;
		height: $button-height;
		border-radius: $button-height/2;
		text-align: center;
		line-height: $button-height - 10; // vertical center
		white-space: nowrap;
	}

	&.btn-float {
		position: absolute;
		top: 8px;
		right: -26px;

		&.active i { transform: rotate(45deg);  }
	}

	&.disabled { opacity: 100; }
}

// MODAL
.modal-content {

	.row { padding: 10px; }

	strong { font-size: 12px; }

	p {
		font-size: 12px;
		font-weight: 300;
		color: #666;
		line-height: 1.3;
		margin-top: 10px;
	}

	.close {
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 500;
	}

	.grade-mini {
		display: inline-block;
		margin-top: 28px;
		width: 56px;
		height: 56px;
		border-radius: 56px;
		line-height: 56px;
		text-align: center;
		color: #fff;

		strong { font-size: 24px; }
	}

	.modal-header { display: block; }

	.modal-hero {
		height: 360px;
		background: center 40px no-repeat $white url(assets/modal-hero.svg); 
	}

	.modal-footer {
		justify-content: center;
		padding-bottom: 20px;
	}
}

// CARD (NON-INVASIVE MODAL)
.card {
	display: none;
	position: absolute;
	z-index: 50;
	left: 145px;
	top: -10px;
	width: 21rem;

	h5 { font-size: 14px; }
}

// INPUT SLIDER
// http://www.cssportal.com/style-input-range/
// https://jsfiddle.net/3JJJb/542/
// https://codepen.io/noahblon/pen/OyajvN <- solid lower fill

input[type=range] {
  height: 36px;
  -webkit-appearance: none;
  margin: 0;
  width: 266px;
  background: none;
  /*overflow: hidden;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #EAEAEA;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.25);
  /*box-shadow: -10vw 0 0 10vw dodgerblue;*/
  border: 1px solid #EAEAEA;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: $white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #EAEAEA;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #EAEAEA;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 5px 5px 5px #000000;
  border: 1px solid #EAEAEA;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  /*background: #FFFFFF;*/
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #333;
  border: 0px solid #000000;
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: #EAEAEA;
  border: 0px solid #000000;
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 5px 5px 5px #000000;
  border: 1px solid #EAEAEA;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #333;
}
input[type=range]:focus::-ms-fill-upper {
  background: #EAEAEA;
}

// MISC

strong { 
	font-size: 18px; 
}
.subtitle {
	margin-top: 4px;
	line-height: 18px;
	color: $slight-gray;

	u {
		cursor: pointer;
	}
}
.info { line-height: 0; }
.v-center { line-height: $row-height/2; }

// functions + generic classes
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}
