.container {
  width: 1000px;
  margin: 20px auto; }

.card-wrap {
  padding: 20px;
  border: 1px solid #eee; }
  .card-wrap .desc {
    display: hide; }
  .card-wrap.toggle .desc {
    display: show; }

.card {
  display: flex;
  flex-direction: row; }

.column {
  /*flex-grow: 1;*/
  flex-basis: 98px; }
  .column.col3 {
    flex-grow: 3; }
  .column.col6 {
    flex-grow: 6; }

.button {
  display: inline-block;
  padding: 10px;
  background: #ddd; }
  .button.active {
    color: #fff;
    background: #4495d4; }
