// COLORS

$white: 		#fff;
$offwhite:		#fafafa;
$lightest-gray:	#eee;
$lighter-gray:	#ddd;
$neue-gray:		#999;
$gray: 			#888;
$slight-gray:	#777;
$dark-gray: 	#333;
$current-blue: 	#4495d4;
$purple:		#5558D8;
$dark-purple:	#474BB8;

body, div, p {
	font-family: proxima-nova;
}

.header {
	margin-top: 40px;

	.row-wrap {
		background: $offwhite;
	}

	.progress {
		height: 4px;
		border-radius: 0;
	}
}

.row-wrap {
	padding: 20px;
	background: $white;
	border: 1px solid $lightest-gray;
}

.btn {
	&.btn-light {
		// padding: 10px;
		background: $lighter-gray;
	}

	&.btn-round {
		width: 36px;
		border-radius: 18px;
		text-align: center;
	}
}

strong { 
	font-size: 18px; 
}
.subtitle {
	margin-top: 4px;
	font-size: 14px;
	line-height: 18px;
	color: $slight-gray;
}


// functions + generic classes
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}
