body, div, p {
  font-family: proxima-nova;
  font-size: 14px; }

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #F9F9F9; }

h5 {
  font-weight: bold; }

.top {
  margin-bottom: 40px;
  color: #fff; }
  .top h2 {
    padding-top: 8px;
    font-size: 24px; }
  .top p {
    line-height: 1.2;
    color: #fff;
    opacity: 0.66; }
    .top p a {
      color: #fff;
      text-decoration: underline; }

.text-left {
  padding-left: 40px; }

.text-right {
  padding-right: 40px; }

.header {
  margin-top: 40px; }
  .header .row-wrap {
    background: #fafafa;
    border-top: 1px solid #eee; }
  .header .gradescale {
    padding: 0 15px 10px; }
    .header .gradescale span {
      font-size: 12px;
      color: #777; }
  .header .gradeticks {
    padding-bottom: 0;
    position: relative;
    top: 4px;
    height: 4px; }
    .header .gradeticks span {
      border-left: 4px solid #fff; }
    .header .gradeticks span:first-child {
      border-left: none; }
  .header .progress {
    height: 4px;
    border-radius: 0; }

.backing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 310px;
  background-color: #1F0B42;
  z-index: -1; }

.label {
  font-size: 12px;
  color: #777;
  letter-spacing: 2.5px;
  line-height: 18px;
  text-transform: uppercase; }

.grade {
  position: absolute;
  left: 0;
  right: 0;
  top: -55px;
  margin: auto;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  line-height: 110px;
  text-align: center;
  color: #fff; }
  .grade strong {
    font-size: 48px; }

.shadow {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25); }

.shadow-card {
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25); }

.row-wrap {
  /*height: $row-height;*/
  background: #fff;
  border: 1px solid #eee;
  border-bottom: none; }
  .row-wrap .btn-float {
    display: none; }
  .row-wrap:last-child {
    border-bottom: 1px solid #eee; }
  .row-wrap.hover {
    background: #fafafa; }
    .row-wrap.hover .btn-float {
      display: inline; }
  .row-wrap.toggle {
    border: none;
    margin-bottom: 20px; }
    .row-wrap.toggle.hover {
      background: #fff; }
    .row-wrap.toggle .row {
      border: 1px solid #eee;
      background: #fff; }
      .row-wrap.toggle .row.desc {
        background: #fafafa; }
    .row-wrap.toggle .btn-float {
      display: inline;
      right: -42px; }

.row {
  padding: 20px; }

.icon {
  opacity: 0.75;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center; }
  .icon#icon-lock {
    background-image: url(assets/icons/bw-lock.svg); }
  .icon#icon-shield {
    background-image: url(assets/icons/bw-shield.svg); }
  .icon#icon-major, .icon#icon-percentsites {
    background-image: url(assets/icons/bw-major.svg); }
  .icon#icon-policy {
    background-image: url(assets/icons/bw-policy.svg); }
  .icon.bad#icon-lock {
    background-image: url(assets/icons/bw-lock-bad.svg); }
  .icon.bad#icon-shield {
    background-image: url(assets/icons/bw-shield-bad.svg); }
  .icon.bad#icon-major, .icon.bad#icon-percentsites {
    background-image: url(assets/icons/bw-major-bad.svg); }
  .icon.bad#icon-policy {
    background-image: url(assets/icons/bw-policy-bad.svg); }
  .icon.icon-logo {
    opacity: 1;
    height: 48px;
    background-image: url(assets/ddg-logo.svg);
    background-size: 48px 48px;
    background-position: 40px center; }

.toggle .icon, .hover .icon {
  opacity: 1; }
  .toggle .icon#icon-lock, .hover .icon#icon-lock {
    background-image: url(assets/icons/lock.svg); }
  .toggle .icon#icon-shield, .hover .icon#icon-shield {
    background-image: url(assets/icons/shield.svg); }
  .toggle .icon#icon-major, .toggle .icon#icon-percentsites, .hover .icon#icon-major, .hover .icon#icon-percentsites {
    background-image: url(assets/icons/major.svg); }
  .toggle .icon#icon-policy, .hover .icon#icon-policy {
    background-image: url(assets/icons/policy.svg); }
  .toggle .icon.bad#icon-lock, .hover .icon.bad#icon-lock {
    background-image: url(assets/icons/lock-bad.svg); }
  .toggle .icon.bad#icon-shield, .hover .icon.bad#icon-shield {
    background-image: url(assets/icons/shield-bad.svg); }
  .toggle .icon.bad#icon-major, .toggle .icon.bad#icon-percentsites, .hover .icon.bad#icon-major, .hover .icon.bad#icon-percentsites {
    background-image: url(assets/icons/major-bad.svg); }
  .toggle .icon.bad#icon-policy, .hover .icon.bad#icon-policy {
    background-image: url(assets/icons/policy-bad.svg); }

.btn.btn-light {
  background: #ddd; }

.btn.btn-reg {
  height: 40px;
  line-height: 30px; }

.btn.btn-pair {
  width: 130px; }

.btn.btn-pad {
  padding-left: 15px;
  padding-right: 15px; }

.btn.btn-round {
  margin-right: 2px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  white-space: nowrap; }

.btn.btn-float {
  position: absolute;
  top: 8px;
  right: -26px; }
  .btn.btn-float.active i {
    transform: rotate(45deg); }

.btn.disabled {
  opacity: 100; }

.modal-content .row {
  padding: 10px; }

.modal-content strong {
  font-size: 14px; }

.modal-content .rel .fixed {
  /*position: relative;*/
  /*top: -50px;*/
  margin-top: -48px;
  margin-bottom: 24px; }

.modal-content .rel .grade-mini {
  display: inline-block;
  background-color: #eee; }

.modal-content .grade-mini {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  line-height: 56px;
  text-align: center;
  color: #fff; }
  .modal-content .grade-mini strong {
    font-size: 24px; }

input[type=range] {
  height: 36px;
  -webkit-appearance: none;
  margin: 0;
  width: 266px;
  background: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #EAEAEA;
  border-radius: 1px;
  border: 0px solid #000000; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.25);
  border: 1px solid #EAEAEA;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #EAEAEA; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #EAEAEA;
  border-radius: 1px;
  border: 0px solid #000000; }

input[type=range]::-moz-range-thumb {
  box-shadow: 5px 5px 5px #000000;
  border: 1px solid #EAEAEA;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  /*background: #FFFFFF;*/
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #333;
  border: 0px solid #000000;
  border-radius: 2px; }

input[type=range]::-ms-fill-upper {
  background: #EAEAEA;
  border: 0px solid #000000;
  border-radius: 2px; }

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 5px 5px 5px #000000;
  border: 1px solid #EAEAEA;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #FFFFFF;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #333; }

input[type=range]:focus::-ms-fill-upper {
  background: #EAEAEA; }

strong {
  font-size: 18px; }

.subtitle {
  margin-top: 4px;
  line-height: 18px;
  color: #777; }
  .subtitle u {
    cursor: pointer; }

.info {
  line-height: 0; }

.v-center {
  line-height: 55px; }
