body, div, p {
  font-family: proxima-nova; }

.header {
  margin-top: 40px; }
  .header .row-wrap {
    background: #fafafa; }
  .header .progress {
    height: 4px;
    border-radius: 0; }

.row-wrap {
  padding: 20px;
  background: #fff;
  border: 1px solid #eee; }

.btn.btn-light {
  background: #ddd; }

.btn.btn-round {
  width: 36px;
  border-radius: 18px;
  text-align: center; }

strong {
  font-size: 18px; }

.subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #777; }
