@import "../../assets/sass/variables";
@import "../../assets/sass/base";

$card_width: 280px;
$key_width: 100px;

.ui-panel {
	h6, span { 
		display: inline-block;
		margin-right: $margin*2; 
	}
}

.Cheatsheet {
	h6 {
		margin-top: $margin*2;
		margin-bottom: $margin;
	}

	.half {
		float: left;
		width: $serp-width/2;

		&:first-of-type {
			padding-right: 23px;
		}
		&:last-of-type {
			padding-left: 23px;
		}
	}

	td {
		vertical-align: top;
		padding-bottom: 4px;

		&.key { padding-right: $margin; }
	}

	.masonry-brick {
		width: $card_width;

		.pairing {
			margin-bottom: 8px;
		}

		&.no-table {
			.key {
				float: left;
				width: $key_width;
			}

			.desc {
				margin-left: $key_width + 10;
			}
		}
		
		.desc { padding-top: 1px; }

		&.tile {
			margin-bottom: $margin*2;

			h6 {
				margin-top: $margin - 2;
				padding-bottom: $margin - 2;
				padding-left: $margin; 
				border-bottom: 1px solid #eee;
				@extend .t-14;
			}

			.pairing {
				padding-left: $margin; 
				padding-right: $margin;
			}

		}
	}

	code {
		padding: 3px 5px;
		border-radius: 3px;
		border: none;
		background-color: map-get($colors, "platinum-dark"); 
		color: map-get($colors, "jet");
	}

	.inlineblock code {
		display: inline-block;
		// padding-top: 0;
		padding-bottom: 0;
		margin-top: 1px;
		line-height: 1.3;
	}
	
	.graygray code {
		border: 1px solid map-get($colors, "platinum-darker"); 
		background-color: map-get($colors, "platinum"); 
	}

	.whitegray code {
		border: 1px solid map-get($colors, "platinum-dark"); 
		background-color: map-get($colors, "white"); 			
	}

	.white code {
		border: none;
		background-color: map-get($colors, "white"); 			
	}

	.whiteblue code {
		border: 1px solid map-get($colors, "blue-lightest"); 
		background-color: map-get($colors, "white"); 
		color: map-get($colors, "blue-dark"); 
	}

	.blue code {
		border: 1px solid #D0E4F4;
		background-color: #ECF4FB;
		color: map-get($colors, "blue-dark"); 
	}

	.key { 
		min-width: 84px;
		max-width: 140px;
		@extend .t-12;
		color: map-get($colors, "gray"); 
		line-height: 1.7;
	}

	.desc {
		color: map-get($colors, "dim"); 
		line-height: 1.4;
	}

}