/* Colors */
/* Sass Maps: http://thesassway.com/news/sass-3-3-released */
/* Sizes */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(boxsizing-polyfill.htc); }

/* @group Generic */
::-moz-selection {
  background: #9ec8e8;
  text-shadow: none; }

::selection {
  background: #9ec8e8;
  text-shadow: none; }

html, button, input, select, textarea {
  color: jet;
  /* Abe: modified */ }

html {
  font-size: 90%;
  line-height: 1.4; }

.container {
  max-width: 980px; }

/* Standard Classes */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

h1, .h-xxl, .t-xxxxl, .t-40 {
  font-size: 2.7777777778em; }

h2, .h-xl, .t-xxxl, .t-30 {
  font-size: 2.0833333333em; }

h3, .h-l, .t-xxl, .t-21 {
  font-size: 1.4583333333em; }

h4, .h-m, .t-xl, .t-19 {
  font-size: 1.3194444444em; }

h5, .h-s, .t-l, .t-17 {
  font-size: 1.1805555556em; }

h6, .h-xs, .t-m, .t-16, p, .p, ul, ol {
  font-size: 1.1111111111em; }

.t-s, .t-14, .Cheatsheet .masonry-brick.tile h6 {
  font-size: 0.9722222222em; }

.t-xs, .t-13 {
  font-size: 0.9027777778em; }

small, .t-xxs, .t-12, .Cheatsheet .key {
  font-size: 0.8333333333em; }

.t-xxxs, .t-11 {
  font-size: 0.7638888889em;
  text-transform: uppercase; }

.c-black {
  color: #111; }

.bg-black {
  background-color: #111; }

.c-white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.c-white-alt {
  color: #f7f7f7; }

.bg-white-alt {
  background-color: #f7f7f7; }

.c-silver {
  color: #f2f2f2; }

.bg-silver {
  background-color: #f2f2f2; }

.c-silver-dark {
  color: #c3c3c3; }

.bg-silver-dark {
  background-color: #c3c3c3; }

.c-platinum {
  color: #ededed; }

.bg-platinum {
  background-color: #ededed; }

.c-platinum-dark {
  color: #e0e0e0; }

.bg-platinum-dark {
  background-color: #e0e0e0; }

.c-platinum-darker {
  color: #d0d0d0; }

.bg-platinum-darker {
  background-color: #d0d0d0; }

.c-ash {
  color: #aaaaaa; }

.bg-ash {
  background-color: #aaaaaa; }

.c-gray-light {
  color: #999; }

.bg-gray-light {
  background-color: #999; }

.c-gray {
  color: #888888; }

.bg-gray {
  background-color: #888888; }

.c-dim {
  color: #666666; }

.bg-dim {
  background-color: #666666; }

.c-dim-blue {
  color: #434a50; }

.bg-dim-blue {
  background-color: #434a50; }

.c-jet {
  color: #333333; }

.bg-jet {
  background-color: #333333; }

.c-jet-blue {
  color: #34383b; }

.bg-jet-blue {
  background-color: #34383b; }

.c-gray-blue {
  color: #707978; }

.bg-gray-blue {
  background-color: #707978; }

.c-gray-dark {
  color: dim; }

.bg-gray-dark {
  background-color: dim; }

.c-gray-darker {
  color: jet; }

.bg-gray-darker {
  background-color: jet; }

.c-divider-gray {
  color: platinum-darker; }

.bg-divider-gray {
  background-color: platinum-darker; }

.c-red {
  color: #de5833; }

.bg-red {
  background-color: #de5833; }

.c-red-dark {
  color: #bd4b2b; }

.bg-red-dark {
  background-color: #bd4b2b; }

.c-red-darker {
  color: #7f321d; }

.bg-red-darker {
  background-color: #7f321d; }

.c-red-light {
  color: #e37151; }

.bg-red-light {
  background-color: #e37151; }

.c-red-lighter {
  color: #eea793; }

.bg-red-lighter {
  background-color: #eea793; }

.c-green {
  color: #589e4d; }

.bg-green {
  background-color: #589e4d; }

.c-blue-desaturated {
  color: #6096bf; }

.bg-blue-desaturated {
  background-color: #6096bf; }

.c-blue-dark-bg {
  color: #49a9f2; }

.bg-blue-dark-bg {
  background-color: #49a9f2; }

.c-blue {
  color: #4495d4; }

.bg-blue {
  background-color: #4495d4; }

.c-blue-dark {
  color: #3a7fb4; }

.bg-blue-dark {
  background-color: #3a7fb4; }

.c-blue-darker {
  color: #27567a; }

.bg-blue-darker {
  background-color: #27567a; }

.c-blue-light {
  color: #60a5da; }

.bg-blue-light {
  background-color: #60a5da; }

.c-blue-lighter {
  color: #9ec8e8; }

.bg-blue-lighter {
  background-color: #9ec8e8; }

.c-blue-lightest {
  color: #b3d4ed; }

.bg-blue-lightest {
  background-color: #b3d4ed; }

.c-blue-superlight {
  color: #f1f7fc; }

.bg-blue-superlight {
  background-color: #f1f7fc; }

.c-gold {
  color: #f1a031; }

.bg-gold {
  background-color: #f1a031; }

.c-purple {
  color: #5454db; }

.bg-purple {
  background-color: #5454db; }

.imageborder {
  position: relative; }
  .imageborder:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%; }

p, .p, ul, ol {
  margin: 0 0 26px 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img,
audio,
canvas,
img,
video {
  vertical-align: middle;
  max-width: 100%;
  position: relative; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* @end */
.ui-panel h6, .ui-panel span {
  display: inline-block;
  margin-right: 20px; }

.Cheatsheet h6 {
  margin-top: 20px;
  margin-bottom: 10px; }
.Cheatsheet .half {
  float: left;
  width: 310px; }
  .Cheatsheet .half:first-of-type {
    padding-right: 23px; }
  .Cheatsheet .half:last-of-type {
    padding-left: 23px; }
.Cheatsheet td {
  vertical-align: top;
  padding-bottom: 6px; }
  .Cheatsheet td.key {
    padding-right: 10px; }
.Cheatsheet .masonry-brick {
  width: 280px; }
  .Cheatsheet .masonry-brick .pairing {
    margin-bottom: 8px; }
  .Cheatsheet .masonry-brick.no-table .key {
    float: left;
    width: 100px; }
  .Cheatsheet .masonry-brick.no-table .desc {
    margin-left: 110px; }
  .Cheatsheet .masonry-brick .desc {
    padding-top: 1px; }
  .Cheatsheet .masonry-brick.tile {
    margin-bottom: 20px; }
    .Cheatsheet .masonry-brick.tile h6 {
      margin-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      border-bottom: 1px solid #eee; }
    .Cheatsheet .masonry-brick.tile .pairing {
      padding-left: 10px;
      padding-right: 10px; }
.Cheatsheet code {
  padding: 3px 5px;
  border-radius: 3px;
  border: none;
  background-color: #e0e0e0;
  color: #333333; }
.Cheatsheet .inlineblock code {
  display: inline-block;
  padding-bottom: 0;
  margin-top: 1px;
  line-height: 1.3; }
.Cheatsheet .graygray code {
  border: 1px solid #d0d0d0;
  background-color: #ededed; }
.Cheatsheet .whitegray code {
  border: 1px solid #e0e0e0;
  background-color: #fff; }
.Cheatsheet .white code {
  border: none;
  background-color: #fff; }
.Cheatsheet .whiteblue code {
  border: 1px solid #b3d4ed;
  background-color: #fff;
  color: #3a7fb4; }
.Cheatsheet .blue code {
  border: 1px solid #D0E4F4;
  background-color: #ECF4FB;
  color: #3a7fb4; }
.Cheatsheet .key {
  min-width: 84px;
  max-width: 140px;
  color: #888888;
  line-height: 1.7; }
.Cheatsheet .desc {
  color: #666666;
  line-height: 1.4; }
