@import "../../assets/sass/variables";
@import "../../assets/sass/base";

$tile_width: 144px;
$info_width: 270px;

.Cheatsheet {
//	h4 { margin-bottom: $margin; }
	h6 {
		margin-top: $margin*1.5;
		margin-bottom: $margin;
	}

	.half {
		float: left;
		width: $serp-width/2;

		&:first-of-type {
			padding-right: 23px;
		}
		&:last-of-type {
			padding-left: 23px;
		}
	}

	td {
		vertical-align: top;
		padding-bottom: 4px;
	}

	code {
		padding: 3px 5px;
		border-radius: 3px;
		border: 1px solid map-get($colors, "platinum-dark"); 
		background-color: map-get($colors, "white"); 
		color: map-get($colors, "jet");
	}

	.key { 
		min-width: 74px;
		max-width: 140px;
		padding-right: $margin;
		@extend .t-12;
		color: map-get($colors, "gray"); 
		line-height: 1.6;
	}

	.desc {
		color: map-get($colors, "dim"); 
	}

}