
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cheatsheet / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">

	<!-- Javascript -->
	<script src="../../assets/js/angular.js"></script>
	<script src="../../assets/js/angular-sanitize.js"></script>
	<script src="../../assets/js/app.js"></script>
</head>
<body ng-controller="CheatsheetController">
<header>
	<div class="logo"> </div>
	<form>
		<input type="text" value="{{ui.search}}">
	</form>

	<div class="duckbar">
		<a class="active border">{{ui.tab}}</a>
		<a>Images</a>
		<a>Videos</a>
	</div>
</header>
<!-- Load all other resources here: -->
<link rel="stylesheet" href="Cheatsheet.css" charset="utf-8">
<script src="Cheatsheet.js"></script>

<!-- UI Panel: for prototyping purposes -->
<div class="ui-panel">
	<h6>Colors</h6>
	<p>
		<input type="radio" ng-model="ui.color" value=""> Default (Gray / no border)<br />
		<input type="radio" ng-model="ui.color" value="graygray"> Light Gray / Gray<br />
		<input type="radio" ng-model="ui.color" value="whitegray"> White / Gray<br />
		<input type="radio" ng-model="ui.color" value="white"> White / no border<br />
		<input type="radio" ng-model="ui.color" value="whiteblue"> White / Blue<br />
	</p>
</div> <!-- /.ui-panel -->

<!-- Main -->
<div class="ia_wrapper Cheatsheet clearfix">
	<div class="ia pad-15">
		<h4>Emacs Cheatsheet</h4>

		<div class="half" ng-class="ui.color">
			<table>
				<tbody ng-repeat="cheat in cheats | limitTo:half">
					<tr>
						<td colspan="2">
							<h6>{{ cheat.name }}</h6>
						</td>
					</tr>
					<tr ng-repeat="cmd in cheat.commands">
						<td class="key" ng-bind-html="cmd.key"></td>
						<td class="desc">{{ cmd.desc }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="half" ng-class="ui.color">
			<!-- https://docs.angularjs.org/api/ng/filter/limitTo -->
			<table>
				<tbody ng-repeat="cheat in cheats | limitTo:half-full">
					<tr>
						<td colspan="2">
							<h6>{{ cheat.name }}</h6>
						</td>
					</tr>
					<tr ng-repeat="cmd in cheat.commands">
						<td class="key" ng-bind-html="cmd.key"></td>
						<td class="desc">{{ cmd.desc }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		&nbsp;
	</div>
</div> <!-- /.ia_wrapper -->

    <div class="container serp">
    	<div class="result">
    		<h4>Duis mollis, est non commodo luctus</h4>
    		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    	</div>

    	<div class="result">
    		<h4>Duis mollis, est non commodo luctus</h4>
    		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    	</div>
				
	</div><!-- /.container.serp -->	
</body>
</html>