
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cheatsheet / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">
    
</head>
<body ng-controller="CheatsheetController">
<header>
	<div class="logo"> </div>
	<form>
		<input type="text" value="{{ui.search}}">
	</form>

	<div class="duckbar">
		<a class="active border">{{ui.tab}}</a>
		<a>Images</a>
		<a>Videos</a>
	</div>
</header>
<!-- Load all other resources here: -->
<link rel="stylesheet" href="Cheatsheet.css" charset="utf-8">

<!-- First 3 files are required for angular-masonry, unfortunately:
https://github.com/passy/angular-masonry/issues/100#issuecomment-78165023 -->
<script src="../../assets/js/jquery-1.11.2.min.js"></script>
<script src="../../assets/js/masonry.pkgd.min.js"></script>
<script src="../../assets/js/imagesloaded.pkgd.js"></script>
<!-- Javascript -->
<script src="../../assets/js/angular.js"></script>
<script src="../../assets/js/angular-sanitize.js"></script>
<script src="../../assets/js/angular-masonry.js"></script>
<script src="../../assets/js/app.js"></script>

<script type="text/javascript">
	// http://stackoverflow.com/questions/18875714/angular-js-re-open-and-add-dependencies-to-an-already-bootstrapped-application
	app.requires.push('wu.masonry');
</script>

<script src="Cheatsheet.js"></script>


<!-- Main -->
<div class="ia_wrapper Cheatsheet clearfix">
	<div class="ia pad-15">
		<div masonry column-width="320">
			<h4>Emacs Cheatsheet</h4>

			<div class="masonry-brick whitegray" ng-repeat="cheat in cheats">
				<h6>{{ cheat.name }}</h6>
				<div ng-repeat="cmd in cheat.commands">
					<span class="key" ng-bind-html="cmd.key"></span>
					<span class="desc">{{ cmd.desc }}</span>
				</div>
			</div> <!-- /.item -->
		</div>
		
	</div> <!-- /.ia -->
</div> <!-- /.ia_wrapper -->

    <div class="container serp">
    	<div class="result">
    		<h4>Duis mollis, est non commodo luctus</h4>
    		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    	</div>

    	<div class="result">
    		<h4>Duis mollis, est non commodo luctus</h4>
    		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    	</div>
				
	</div><!-- /.container.serp -->	
</body>
</html>