/* Colors */
/* Sass Maps: http://thesassway.com/news/sass-3-3-released */
/* Sizes */
.Detail .tile {
  margin-right: 10px; }
  .Detail .tile:hover {
    cursor: pointer;
    border-color: #de5833;
    outline-color: #de5833; }
  .Detail .tile img {
    height: 224px; }
.Detail.ia_wrapper {
  margin-bottom: 0; }

.detailpane {
  position: relative;
  height: 420px;
  padding: 24px;
  padding-left: 110px;
  margin-bottom: 30px;
  background-color: #222;
  overflow: hidden; }
  .detailpane .hero_bg {
    position: absolute;
    top: -50%;
    left: 0;
    width: 200%;
    -webkit-filter: blur(100px);
    -webkit-transform: translate3d(0, 0, 0); }
  .detailpane .hero {
    position: relative;
    height: 100%; }
  .detailpane .hero_block {
    position: absolute;
    color: #fff;
    top: 33%;
    left: 400px; }
