/* Colors */
/* Sass Maps: http://thesassway.com/news/sass-3-3-released */
/* Sizes */
.Detail .tile {
  margin-right: 10px; }
  .Detail .tile:hover {
    cursor: pointer;
    border-color: #de5833;
    outline-color: #de5833; }
  .Detail .tile img {
    height: 224px; }
.Detail.ia_wrapper {
  margin-bottom: 0; }

.detailpane {
  position: relative;
  height: 420px;
  padding: 24px;
  padding-left: 110px;
  margin-bottom: 30px;
  background-color: #222;
  overflow: hidden; }
  .detailpane .hero_bg {
    position: absolute;
    left: 0;
    width: 200%; }
    .detailpane .hero_bg.vignette {
      -webkit-transform: translate3d(0, 0, 0); }
  .detailpane .hero {
    position: relative;
    height: 100%; }
  .detailpane .hero_block {
    position: absolute;
    top: 33%;
    left: 400px;
    font-size: 14px;
    color: white; }
    .detailpane .hero_block h2 {
      font-size: 19px;
      font-weight: 400;
      line-height: 1.1; }
    .detailpane .hero_block h3 {
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6); }
    .detailpane .hero_block p {
      margin-top: 12px;
      max-width: 900px;
      color: rgba(255, 255, 255, 0.8); }

.ui-panel p {
  margin-bottom: 0;
  margin-top: -10px; }
.ui-panel .slider_wrapper {
  position: relative;
  left: 100px;
  top: -40px;
  display: block;
  width: 600px; }
