
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Planets / DDG Prototypes</title>
    <meta name="description" content="DuckDuckGo Prototypes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/main.css" charset="utf-8">

	<!-- Javascript -->
	<script src="../../assets/js/angular.js"></script>
	<script src="../../assets/js/angular-sanitize.js"></script>
	<script src="../../assets/js/app.js"></script>
</head>
<body ng-controller="PlanetsController">

<header>
	<div class="logo"> </div>
	<form>
		<input type="text" value="{{ui.search}}">
	</form>

	<div class="duckbar">
		<a class="active border">{{ui.tab}}</a>
		<a>Images</a>
		<a>Videos</a>
	</div>
</header>
<!-- Load all other resources here: -->
<link rel="stylesheet" href="Planets.css" charset="utf-8">
<script src="Planets.js"></script>

<!-- UI Panel: for prototyping purposes -->
<div class="ui-panel">
	<h6>Test</h6>
	<p>{{ ui.lorem }}</p>
</div> <!-- /.ui-panel -->

<!-- Main -->
<div class="ia_wrapper has_tiles Planets">
	<div class="ia_tab">
		Showing Celestial Bodies within the Solar System
	</div> <!-- /.ia_tab -->

	<div class="ia">
		<div class="tile tile-accordion" ng-repeat="planet in planets" ng-class="{expand: planet.expand}">
			<div class="tile_info">
				<table>
					<tr ng-repeat="item in info">
						<td class="label c-gray-light t-13">{{ item.name }}</td>
						<td class="info t-13">{{ item.info }}</td>
					</tr>
				</table>
			</div>

			<div ng-click="planet.expand = -(planet.expand-1)" class="tile_wrapper bg-jet">
				<div class="planet {{planet.name}}">
					
				</div>
				<div class="tile_body">
					<h6 class="c-white">{{planet.name}}</h6>
					<div class="c-ash tile_subtitle">{{planet.type}}</div>
				</div>				
			</div>

		</div>
	</div> <!-- /.ia -->
</div> <!-- /.ia_wrapper -->

    <div class="container serp">
    	<div class="result">
    		<h4>Duis mollis, est non commodo luctus</h4>
    		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    	</div>

    	<div class="result">
    		<h4>Duis mollis, est non commodo luctus</h4>
    		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    	</div>
				
	</div><!-- /.container.serp -->	
</body>
</html>